<a href="https://colab.research.google.com/github/sdw1621/hanhwagroup/blob/main/20211221_CH05_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**PDF 180, 예제 5-2. 리스트 요소 추가**

In [1]:
a = ['red', 'green', 'blue']
a.append('yellow')
print(a)

['red', 'green', 'blue', 'yellow']

In [2]:
a.insert(1, 'black')
print(a)

['red', 'black', 'green', 'blue', 'yellow']

In [3]:
a = ['red', 'green', 'blue']
a.append(['green', 'light_blue'])
print(a)

['red', 'green', 'blue', ['green', 'light_blue']]

In [4]:
print(a[3])

['green', 'light_blue']

In [5]:
print(a[3][0])

green

In [6]:
a = ['red', 'green', 'blue']
b = ['purple', 'white']
a.extend(b)
print(a)

['red', 'green', 'blue', 'purple', 'white']

In [7]:
customers = ["유근영", "최병국"] # DB
new_customers = ['차경민', "송우진"] # 추가 가입

customers.extend(new_customers)
print(customers)

['유근영', '최병국', '차경민', '송우진']

###**PDF 181, 예제 5-3. 리스트 요소 삭제**

In [8]:
a = [10,20,30,40,50,60,70,80,90,100]
x = a.index(30)
print(x)

2

In [10]:
a = ["허민제", "주영민", "전원석"]
# x = a.index("주영민")
x = a.index("전원석")
print(x)

2

In [11]:
a = [10,20,30,40,50,60,70,80,90,100]
x = a.index(30)
a.pop(x)
print(a)

[10, 20, 40, 50, 60, 70, 80, 90, 100]

In [12]:
a = [10,20,30,40,50,60,70,80,90,100]
a.pop()
print(a)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [13]:
a = [10,20,30,40,50,60,70,80,90,100]
a.pop(0)
print(a)

[20, 30, 40, 50, 60, 70, 80, 90, 100]

In [14]:
a = [10,20,30,40,50,60,70,80,90,100]
a.remove(90) # 실제 값을 없애기
print(a)

[10, 20, 30, 40, 50, 60, 70, 80, 100]

In [15]:
a = ["허민제", "주영민", "전원석"]
a.remove("주영민") # 실제 값을 없애기
print(a)

['허민제', '전원석']

In [16]:
a = ["허민제", "주영민", "전원석"]
a.remove() # 실제 값을 없애기
print(a)

TypeError: ignored

In [17]:
a = ["허민제", "주영민", "전원석"]
a.remove("신동욱") # 실제 값을 없애기
print(a)

ValueError: ignored

In [18]:
a = ["허민제", "주영민", "전원석"]
a.clear()
print(a)

[]

In [20]:
# 예제 5-4 리스트 요소 카운트

list1 = ['a','bb','c','d','aaa','b','aaa']
list1_count = list1.count('aaa')
print(list1_count) # 중복 데이터 몇 개니?

2

In [22]:
a = ["허민제", "주영민", "전원석", "허민제", "허민제"]
a_count = a.count('허민제')
print(a_count)

3

In [23]:
# PDF186, Q 5-3 리스트 요소 추가하기

mylist = ['사과', '바나나', '파인애플', '배']
mylist.append('키위')
print(mylist)

['사과', '바나나', '파인애플', '배', '키위']

In [24]:
for a in mylist:
  print(a)

사과
바나나
파인애플
배
키위

In [26]:
# Q 5-4 리스트 요소 삭제하기
mylist = ['사과','바나나','파인애플','포도','오렌지','배']
mylist.remove('바나나')
print(mylist)

['사과', '파인애플', '포도', '오렌지', '배']

In [28]:
# Q 5-5 리스트 병합하기

person1 = ['허민제','주영민','전원석']
person2 = ['이동언','강태규','김대웅']

person = person1 + person2
print(person)

['허민제', '주영민', '전원석', '이동언', '강태규', '김대웅']

In [29]:
# 문자열 + 문자열
print("신동욱" + "강사님")

신동욱강사님

In [30]:
# 리스트 + 리스트
person1 = ['허민제','주영민','전원석']
person2 = ['이동언','강태규','김대웅']

print(person1 + person2)

['허민제', '주영민', '전원석', '이동언', '강태규', '김대웅']

In [36]:
# PDF 189, 예제 5-7 응용
sales = [1000, 2000, 3000]

sales_sum = 0

for sale in sales:
  # print(sale)
  sales_sum = sales_sum + sale
  # print(sales_sum)
  avg = sales_sum / len(sales)

print(f"{avg:.0f}")

2000

In [41]:
# Q 5-7, 리스트를 이용한 영어 단어 퀴즈

questions = ['tr_in', 'b_s', '_axi', 'air_lane']
answers = ['a','u','t','p']

for i in range(len(questions)):
  # print(questions[i] + f"에서 밑줄(_) 안에 들어갈 알파벳은?")
  q = questions[i] + f"에서 밑줄(_) 안에 들어갈 알파벳은?"
  ans = input(q)

  if ans == answers[i]:
    print("정답입니다.")
  else:
    print("틀렸습니다.")

tr_in에서 밑줄(_) 안에 들어갈 알파벳은?a
정답입니다.
b_s에서 밑줄(_) 안에 들어갈 알파벳은?a
틀렸습니다.
_axi에서 밑줄(_) 안에 들어갈 알파벳은?t
정답입니다.
air_lane에서 밑줄(_) 안에 들어갈 알파벳은?q
틀렸습니다.

In [44]:
# 예제 5-9 2차원 리스트 기본 구조

numbers = [ [10,20,30], [40,50,60] ]

print(numbers[0][0])
print(numbers[1][1])

10
50