<a href="https://colab.research.google.com/github/sdw1621/hanhwagroup/blob/main/20211220_CH02_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("="*30)

==============================

In [2]:
print("I'm youngmin")

I'm youngmin

In [3]:
print('I say "ho"')

I say "ho"

In [4]:
print("내용")
print('내용')
# print() : 한 줄 띄어 쓰기, #에 해당하는 주석으로 막아주면 프로그램 실행은 하지 않음

내용
내용

print("내용") <br>
print('내용') <br>
print() : 한 줄 띄어 쓰기

###**예제 2-1. 두 수 더하기**

In [8]:
a = 20
# print(a)
b = 30
# print(b)
c = a + b # a = 20, b = 30
print(c)

50

###**응용**

In [11]:
print("신동욱","강사님")

신동욱 강사님
신동욱 1

In [10]:
name = "신동욱"
position = "강사님"

print(name + position)

신동욱강사님

In [12]:
print("신동욱",1)

신동욱 1

In [13]:
name = "신동욱"
position = 1

print(name + position)

TypeError: ignored

In [14]:
print("안녕하세요. 신동욱 강사입니다.")

안녕하세요. 신동욱 강사입니다.

In [15]:
print("안녕하세요.")
print("신동욱 강사입니다.")

안녕하세요.
신동욱 강사입니다.

In [17]:
print("안녕하세요. \n신동욱 강사입니다.") # \n : new line
print("안녕하세요. \t신동욱 강사입니다.") # \n : tab

안녕하세요.
신동욱 강사입니다.
안녕하세요. 	신동욱 강사입니다.

In [19]:
print("네이버","한화","삼성",sep=",")

네이버,한화,삼성

In [20]:
print("네이버","한화","삼성",sep="/")

네이버/한화/삼성

In [24]:
print("네이버", end=" ")
print("한화", end=",")
print("삼성")

네이버 한화,삼성

In [25]:
print(5/3) # / 연산자는 무조건 float 데이터 형이 된다.

1.6666666666666667

In [26]:
type(5/3) # 파이썬에서는 중간 중간에 print 쓰는 것 처럼(중간 결과값을 보자) 자주 씁니다.

int a = 2
a = "신동욱"

float

In [27]:
a = "신동욱"
type(a) # input() 함수와 많이 씀, 에러를 해결하기 위해서 각각 변수의 데이터 타입을 확인해야 할 경우가 많음

str

In [34]:
a = 1
# print(type(a)) # int
b = 1.5
# print(type(b)) # float

c = a + b # a(int) -> a(float) : 자동 형변환, b(float) => a(float) + b(float)
print(type(c)) # float

<class 'float'>

In [37]:
a = 1
a = str(a) # 강제 형변환
print("신동욱" + a) # "신동욱" + a(str)

신동욱1

In [38]:
# 한화 시스템 주식 1주 5만원
hanwha_system = 50000

# 10주를 가지고 있다.
hanwha_system_won = hanwha_system * 10

# 나는 총 한화 시스템 50만원을 가지고 있어요
print(hanwha_system_won)

500000

In [39]:
시가총액 = 29800 # 2만 9천 8백원
현재가 = 5000 # 5천원
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

# 한국어 변수는 잘 안쓰는데, 할 수 있다 요 정도만 알고 계시면 좋을꺼 같아요

29800 <class 'int'>
5000 <class 'int'>
15.79 <class 'float'>

In [40]:
print("신동욱" + "강사님")

신동욱강사님

In [41]:
print("신동욱 " + "강사님")

신동욱 강사님

In [42]:
print("신동욱" + " 강사님")

신동욱 강사님

In [43]:
print("신동욱" + " " + "강사님")

신동욱 강사님

In [45]:
name = "신동욱"
position = "대표"

print(name + " " + position)

신동욱 대표

In [50]:
year = "2021"
birth_year = "1980"

year = int(year) # 2021
birth_year = int(birth_year) # 1980

print(year - birth_year - 1)

40

In [51]:
num1 = -30
num2 = 30

print(num1 + num2)

0

In [52]:
print(True)

True

In [54]:
age = 40

print(age >= 40)

True

In [56]:
# if~else(조건) : 조건에 따라 다르게 동작

if age > 40: # age > 40(비교) : True / False(불)
  print("40세 이상입니다.") # True 일 때만 실행됨
else:
  print("40세 미만입니다.") # False 일 때만 실행됨

40세 미만입니다.

In [57]:
hanwha_defense = ["주영민", "전원석", "이동언"]

print(hanwha_defense[0])

주영민

In [59]:
hanwha_defense = ["주영민", "전원석", "이동언"]
position = ["연구원", "주임", "주임"]

print(hanwha_defense[0], position[0])

주영민 연구원

In [60]:
print(hanwha_defense[2], position[2])

이동언 주임

In [61]:
lunch = ["짜장면", "짬뽕", "탕수육", "우동"]
lunch[2] = "팔보채"
print(lunch)

['짜장면', '짬뽕', '팔보채', '우동']

In [62]:
lunch = ("짜장면", "짬뽕", "탕수육", "우동")
lunch[2] = "팔보채"
print(lunch)

TypeError: ignored

In [63]:
# dict_color = {"키1":"값1", "키2":"값2", ...}

dict_color = {"red":"빨간색", "yellow":"노란색"}

print(dict_color["red"])

빨간색

In [64]:
print(dict_color["yellow"])

노란색

###**PDF 61 2. 문자열의 인덱스와 요소 추출**

In [65]:
x = 'apple'
print(x[4]) # 알파벳 'e' 출력 # 양수 인덱스

e

In [66]:
x = 'apple'
print(x[-1]) # 알파벳 'e' 출력 # 음수 인덱스

e

In [70]:
# 음수 인덱싱으로 ple 출력

x = 'apple'
print(x[-3])
# print(x[-4])
print(x[-3:-1])
print(x[-3:]) # 맨 끝까지 추출하고 싶을 떼 필수!

p
pl
ple

###**응용**

In [72]:
# my_car = "53하 0192"
# 맨 뒤 4자리 추출
# 음식점에서 주차 인증할 때 주로 사용

my_car = "53하 0192"
print(my_car[-4:])

0192

In [74]:
# holjak = "홀짝홀짝홀짝"
# 이 중에서 "홀"이라는 문자만 뽑기

holjak = "홀짝홀짝홀짝"
print(holjak[::2])
print(holjak[::3])

홀홀홀
홀짝

In [75]:
# holjak = "홀짝홀짝홀짝"
# 이 중에서 "짝홀짝홀짝홀"이라는 반대로 문자 찍기

holjak = "홀짝홀짝홀짝"
print(holjak[::-1])

짝홀짝홀짝홀

###**PDF 66, 예제 2-11. 나머지 연산자와 소수점 절삭 연산자**

In [76]:
x = 10 / 3
print(x)

3.3333333333333335

In [77]:
y = 7 // 3 # 몫 연산자
print(y)

2

In [78]:
y = 7 % 3 # 나머지 연산자
print(y)

1

In [ ]:
# % 연산자로 대한민국 주민번호 - 남/여 구분 예제

jumin = "800101-1234567" # 앞6-뒷7

# 남/여 구분
# 뒤에서 첫번째 숫자
# 대한민국 주민번호 체계
# 1990년대
# 2000년대

# 내국인 (주민등록번호 뒤 첫째자리 숫자 가져오기 - 슬라이싱)
#      < 2000      >=2000
# 남      1           3
# 여      2           4

# 귀화외국인
#      < 2000      >=2000
# 남      5           7
# 여      6           8

# 패턴 (가져온 주민등록번호 뒤 첫째자리 숫자 % 2 == 0 : 여자 / 1 : 남자)
# 남 : 홀수 / 여 : 짝수

In [80]:
jumin = "010101-3456789" # 앞6-뒷7
print(jumin)

010101-3456789

In [81]:
print(jumin[7])

3

In [85]:
type(jumin[7])

str

In [86]:
int(jumin[7])

3

In [87]:
jumin_last_num1 = int(jumin[7])
print(jumin_last_num1)

3

In [88]:
type(jumin_last_num1)

int

In [89]:
jumin_last_num1 % 2

1

In [90]:
jumin_last_num1 % 2 == 0

False

In [91]:
if jumin_last_num1 % 2 == 0:
  print("여자")
else:
  print("남자")

남자

In [93]:
# 주민등록번호에서 나이를 구하기
jumin = "010101-3456789"

print(jumin[0:2])

01

In [94]:
year = 2021

type(jumin[0:2])

str

In [98]:
jumin = "800101-1234567"

if 0 <= int(jumin[0:2]) <= 29:
  # print("20"+jumin[0:2])
  birth_year = "20"+jumin[0:2]
else:
  # print("19"+jumin[0:2])
  birth_year = "19"+jumin[0:2]

print(birth_year)

1980

In [101]:
year = 2021

age = year - int(birth_year) - 1
print(age)

40

In [102]:
name = "ShinDongWook"

# 여권의 이름은 모두 대문자
upper_name = name.upper() # 영문 전용 함수, up (위로), 대소문자, 소문자 -> 대문자로 만드는 함수
print(upper_name)

SHINDONGWOOK

In [103]:
naver_id = "SDW1904@NAVER.COM" # 아이디는 대부분 소문자로 쓰게 추천함

# 모두 소문자로 변경하기
lower_id = naver_id.lower() # 영문 전용 함수, 대문자를 모두 소문자로 변경해주는 함수
print(lower_id)

sdw1904@naver.com

In [107]:
name = "ShinDongWook"

print(name[0].islower()) # is ~냐?

False

In [109]:
name = "ShinDongWook"

replace_name = name.replace("Shin", "Lee")

print(replace_name)

LeeDongWook

In [110]:
name = "ShinDongWook"

print(len(name))

12

In [115]:
name = "신욱"

# print(len(name))

if len(name) == 3:
  print("3자리의 이름을 가지고 있어요")
  print(name)
else:
  print("2자리 이름을 가지고 있어요")
  name_new = name[0] + " " + name[1]
  print(name_new)

2자리 이름을 가지고 있어요
신 욱

In [116]:
name = "신빛나욱"

if len(name) == 3:
  print("3자리의 이름을 가지고 있어요")
  print(name)
elif len(name) > 3: # 4글자 이상 이름을 가진 사람
  print(name[0] + name[-2:])
else:
  print("2자리 이름을 가지고 있어요")
  name_new = name[0] + " " + name[1]
  print(name_new)

신나욱

In [119]:
# 실무
# 보안이 있기 때문에 중간은 * 처리를 많이함

name = "신욱"

if len(name) == 3:
  print("3자리의 이름을 가지고 있어요")
  print(name[0] + "*" + name[-1])
elif len(name) > 3: # 4글자 이상 이름을 가진 사람
  print(name[0] + "*" + name[-1:])
else:
  print("2자리 이름을 가지고 있어요")
  name_new = name[0] + "*"
  print(name_new)

2자리 이름을 가지고 있어요
신*

In [120]:
subject = "Java programming"

print(subject.find("Java")) # Java 의 시작 인덱스를 출력

0

In [121]:
subject = "Python programming"

print(subject.find("Java")) # 없으면 -1을 출력해 줌

-1

In [123]:
IOT = "211220있" # 날짜커피여부(0:없음,1:있음)

print(IOT.find("없")) # 없으면 -1을 출력해 줌

-1

In [125]:
IOT = "211220있"

if IOT in "있": # is
  print("있이 있습니다.")
else:
  print("있이 없습니다.")

있이 없습니다.

In [126]:
IOT = "211220있"

if "있" in IOT: # is
  print("있이 있습니다.")
else:
  print("있이 없습니다.")

있이 있습니다.

In [131]:
hanwhaMachineTechnology = ["이현준", "정봉진","전나영","최유정"] # 리스트 : 값을 여러개 가질 수 있는 데이터 형

# "정성원", "전나영"
member = input("검색하고 싶은 구성원의 이름을 작성하세요 : ") # 항상 문자열로 받음

print(member)

if member in hanwhaMachineTechnology: # is
  print(member+"님이 계십니다.")
else:
  print(member+"님이 부재중이십니다.")

검색하고 싶은 구성원의 이름을 작성하세요 : 전나영
전나영
전나영님이 계십니다.

###**PDF 69, 예제 2-13 할당연산자 +=**

In [132]:
x = 10
x += 20
print(x)

30

In [133]:
x = 10
x = x + 20
print(x)

30

###**PDF 71, 예제 2-15 문자열 반복**

In [134]:
hello = '안녕' * 5 # 파이썬 *의 의미는 반복

print(hello)

안녕안녕안녕안녕안녕

###**PDF 72, 예제 2-16 문자열 길이 구하기**

In [135]:
a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(b)

15

###**PDF 73, 예제 2-17 문자열 연결 연산자 +**

In [136]:
name = '홍지수'
greet = name + "님 안녕하세요!"
print(greet)

홍지수님 안녕하세요!

####**응용**

In [139]:
names = ["김대중","김기덕","신동욱"]

for name in names: # 첫 시도 : "김대중", 두번째 시도 : "김기덕" 문자열을  name = "김대중", name = "김기덕"
  print(name + "님 안녕하세요")

김대중님 안녕하세요
김기덕님 안녕하세요
신동욱님 안녕하세요

###**PDF 74, 예제 2-18 문자열 연결시 오류 발생**

In [141]:
eng = 80
result = '영어 점수 :' + str(eng) + '점'

print(result)

영어 점수 :80점

###**PDF 76, 예제 2-20 문자열 포멧팅**

In [143]:
name = '김수영'
# f-string 문법을 적용
a = f'나는 {name}입니다.'
print(a)

나는 김수영입니다.

In [147]:
name = '신동욱'
pos = "대표이사"

# f-string 문법을 적용
a = f'나는 {name}입니다. 나는 직급이 {pos}니다.'
print(a)

나는 신동욱입니다. 나는 직급이 대표이사니다.

In [148]:
age = 20

a = f'나이는 {age} 살 입니다.'
print(a)

나이는 20 살 입니다.

###**PDF 78, 예제 2-22 정수형 숫자 0으로 채우기 : %2d**

In [150]:
year = 2021
month = 1
day = 20

a = '%d-%02d-%02d' %(year, month, day)
print(a)

2021-01-20

###**PDF 79, 예제 2-23 문자열 포멧팅 : %.2f**

In [151]:
height = 172.5
a = '키는 %.2f입니다.' %height
print(a)

키는 172.50입니다.

In [152]:
height = 172.5
a = '키는 %.f입니다.' %height
print(a)

키는 172입니다.

In [154]:
# count 함수 사용법
# https://ooyoung.tistory.com/76

print('ooyyy'.count('y'))

3

In [155]:
a = [1, 1, 1, 2, 3]
a.count(1)

3

In [156]:
starbucks = ["송성권", "주영민", "송우진", "이동언", "정봉진", "전원석", "김대웅", "계영진", "유근영", "이민수","계영진"]

starbucks.count("계영진")

2

In [157]:
resume = """저는 신동욱입니다. 
저는 부천시 살아요
저는 40세에요
"""

resume.count("저는")

3

In [159]:
mydata = "신동욱/40/부천시" # 개인정보

# split 함수 사용
mydata_split = mydata.split("/")
print(mydata_split)

['신동욱', '40', '부천시']

In [160]:
print(mydata_split[0])

신동욱

In [163]:
print(mydata_split[0][0] + "*" + mydata_split[0][2])

신*욱

In [164]:
year = "2021-12-20"

year_split = year.split("-")
year_split[0]

'2021'

In [165]:
# append 함수 ap(after) + pend(붙이다) : 맨 끝에 붙이다. 줄 서기

subject = ['국어', '수학' ,'영어', '과학']

subject.append('사회')
print(subject)

['국어', '수학', '영어', '과학', '사회']

In [167]:
# insert 함수 (삽입하다) - 새치기 가능
# insert("인덱스 번호","삽입할 값")

# print(subject)
subject.insert(2, "코딩")

print(subject)

['국어', '수학', '코딩', '영어', '과학', '사회']

In [168]:
# 키오스크
cus_id = input("고객님의 이름을 입력하세요.") # 무조건 문자열로 받음, 신동욱
mac_menu = input("고객님이 드시고 싶은 메뉴를 입력하세요.") # 맥모닝

print(cus_id + "님 안녕하세요 " + mac_menu + "를 선택했습니다.")

고객님의 이름을 입력하세요.신동욱
고객님이 드시고 싶은 메뉴를 입력하세요.맥모닝
신동욱님 안녕하세요맥모닝를 선택했습니다.

###**PDF 96, Q2-4,  코딩 연습 : 문자열 추출과 문자열 포멧팅**

In [175]:
name = "홍길동"
age = 30
height = 171.5

# print('성 :', name[0])
# print('이름 :', name[1:])
print("%s의 나이 : %d세, 키 : %.2fcm" %(name, age, height))

홍길동의 나이 : 30세, 키 : 171.50cm

###**PDF 97, Q2-5,  코딩 연습 : 키보드로 성적 입력받아 평균 구하기**

In [181]:
name = input("학생 이름을 입력하세요 :") # 황예린 # 문자열
kor = int(input("국어 성적을 입력하세요 :")) # 83 # 문자열
eng = int(input("영어 성적을 입력하세요 :")) # 85 # 문자열
math = int(input("수학 성적을 입력하세요 :")) # 91 # 문자열

# print(name, kor, eng, math) 

total = kor + eng + math # 3과목 합계 # 838591
avg = total / 3 # 3과목 평균

# print("%s %d %d %d %.1f" %(name, kor, eng, math, avg))
print("이름:%s, 국어:%d, 영어:%d, 수학:%d, 평균:%.1f점" %(name, kor, eng, math, avg))

학생 이름을 입력하세요 :황예린
국어 성적을 입력하세요 :83
영어 성적을 입력하세요 :85
수학 성적을 입력하세요 :91
이름:황예린, 국어:83, 영어:85, 수학:91, 평균:86.3

###**PDF 98, 예제 2-35 주석문**

In [ ]:
"""
프로그램명 : 두 수 더하기
작성자 : 신동욱
작성일 : 2021.12.20
"""

''' 
프로그램명 : 두 수 더하기
작성자 : 신동욱
작성일 : 2021.12.20
'''

# 파이썬에서는 여러 줄 주석
# 이력서 여러 줄 내용들, IOT 데이터들 여러 줄 주석으로 가져옴