<a href="https://colab.research.google.com/github/sdw1621/hanhwagroup/blob/main/20211220_CH02_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("="*30)

==============================

In [2]:
print("I'm youngmin")

I'm youngmin

In [3]:
print('I say "ho"')

I say "ho"

In [4]:
print("내용")
print('내용')
# print() : 한 줄 띄어 쓰기, #에 해당하는 주석으로 막아주면 프로그램 실행은 하지 않음

내용
내용

print("내용") <br>
print('내용') <br>
print() : 한 줄 띄어 쓰기

###**예제 2-1. 두 수 더하기**

In [8]:
a = 20
# print(a)
b = 30
# print(b)
c = a + b # a = 20, b = 30
print(c)

50

###**응용**

In [11]:
print("신동욱","강사님")

신동욱 강사님
신동욱 1

In [10]:
name = "신동욱"
position = "강사님"

print(name + position)

신동욱강사님

In [12]:
print("신동욱",1)

신동욱 1

In [13]:
name = "신동욱"
position = 1

print(name + position)

TypeError: ignored

In [14]:
print("안녕하세요. 신동욱 강사입니다.")

안녕하세요. 신동욱 강사입니다.

In [15]:
print("안녕하세요.")
print("신동욱 강사입니다.")

안녕하세요.
신동욱 강사입니다.

In [17]:
print("안녕하세요. \n신동욱 강사입니다.") # \n : new line
print("안녕하세요. \t신동욱 강사입니다.") # \n : tab

안녕하세요.
신동욱 강사입니다.
안녕하세요. 	신동욱 강사입니다.

In [19]:
print("네이버","한화","삼성",sep=",")

네이버,한화,삼성

In [20]:
print("네이버","한화","삼성",sep="/")

네이버/한화/삼성

In [24]:
print("네이버", end=" ")
print("한화", end=",")
print("삼성")

네이버 한화,삼성

In [25]:
print(5/3) # / 연산자는 무조건 float 데이터 형이 된다.

1.6666666666666667

In [26]:
type(5/3) # 파이썬에서는 중간 중간에 print 쓰는 것 처럼(중간 결과값을 보자) 자주 씁니다.

int a = 2
a = "신동욱"

float

In [27]:
a = "신동욱"
type(a) # input() 함수와 많이 씀, 에러를 해결하기 위해서 각각 변수의 데이터 타입을 확인해야 할 경우가 많음

str

In [34]:
a = 1
# print(type(a)) # int
b = 1.5
# print(type(b)) # float

c = a + b # a(int) -> a(float) : 자동 형변환, b(float) => a(float) + b(float)
print(type(c)) # float

<class 'float'>

In [37]:
a = 1
a = str(a) # 강제 형변환
print("신동욱" + a) # "신동욱" + a(str)

신동욱1

In [38]:
# 한화 시스템 주식 1주 5만원
hanwha_system = 50000

# 10주를 가지고 있다.
hanwha_system_won = hanwha_system * 10

# 나는 총 한화 시스템 50만원을 가지고 있어요
print(hanwha_system_won)

500000

In [39]:
시가총액 = 29800 # 2만 9천 8백원
현재가 = 5000 # 5천원
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

# 한국어 변수는 잘 안쓰는데, 할 수 있다 요 정도만 알고 계시면 좋을꺼 같아요

29800 <class 'int'>
5000 <class 'int'>
15.79 <class 'float'>

In [40]:
print("신동욱" + "강사님")

신동욱강사님

In [41]:
print("신동욱 " + "강사님")

신동욱 강사님

In [42]:
print("신동욱" + " 강사님")

신동욱 강사님

In [43]:
print("신동욱" + " " + "강사님")

신동욱 강사님

In [45]:
name = "신동욱"
position = "대표"

print(name + " " + position)

신동욱 대표

In [50]:
year = "2021"
birth_year = "1980"

year = int(year) # 2021
birth_year = int(birth_year) # 1980

print(year - birth_year - 1)

40

In [51]:
num1 = -30
num2 = 30

print(num1 + num2)

0

In [52]:
print(True)

True

In [54]:
age = 40

print(age >= 40)

True

In [56]:
# if~else(조건) : 조건에 따라 다르게 동작

if age > 40: # age > 40(비교) : True / False(불)
  print("40세 이상입니다.") # True 일 때만 실행됨
else:
  print("40세 미만입니다.") # False 일 때만 실행됨

40세 미만입니다.

In [57]:
hanwha_defense = ["주영민", "전원석", "이동언"]

print(hanwha_defense[0])

주영민

In [59]:
hanwha_defense = ["주영민", "전원석", "이동언"]
position = ["연구원", "주임", "주임"]

print(hanwha_defense[0], position[0])

주영민 연구원

In [60]:
print(hanwha_defense[2], position[2])

이동언 주임

In [61]:
lunch = ["짜장면", "짬뽕", "탕수육", "우동"]
lunch[2] = "팔보채"
print(lunch)

['짜장면', '짬뽕', '팔보채', '우동']

In [62]:
lunch = ("짜장면", "짬뽕", "탕수육", "우동")
lunch[2] = "팔보채"
print(lunch)

TypeError: ignored

In [63]:
# dict_color = {"키1":"값1", "키2":"값2", ...}

dict_color = {"red":"빨간색", "yellow":"노란색"}

print(dict_color["red"])

빨간색

In [64]:
print(dict_color["yellow"])

노란색

###**PDF 61 2. 문자열의 인덱스와 요소 추출**

In [65]:
x = 'apple'
print(x[4]) # 알파벳 'e' 출력 # 양수 인덱스

e

In [66]:
x = 'apple'
print(x[-1]) # 알파벳 'e' 출력 # 음수 인덱스

e

In [70]:
# 음수 인덱싱으로 ple 출력

x = 'apple'
print(x[-3])
# print(x[-4])
print(x[-3:-1])
print(x[-3:]) # 맨 끝까지 추출하고 싶을 떼 필수!

p
pl
ple

###**응용**

In [72]:
# my_car = "53하 0192"
# 맨 뒤 4자리 추출
# 음식점에서 주차 인증할 때 주로 사용

my_car = "53하 0192"
print(my_car[-4:])

0192

In [74]:
# holjak = "홀짝홀짝홀짝"
# 이 중에서 "홀"이라는 문자만 뽑기

holjak = "홀짝홀짝홀짝"
print(holjak[::2])
print(holjak[::3])

홀홀홀
홀짝

In [75]:
# holjak = "홀짝홀짝홀짝"
# 이 중에서 "짝홀짝홀짝홀"이라는 반대로 문자 찍기

holjak = "홀짝홀짝홀짝"
print(holjak[::-1])

짝홀짝홀짝홀

###**PDF 66, 예제 2-11. 나머지 연산자와 소수점 절삭 연산자**

In [76]:
x = 10 / 3
print(x)

3.3333333333333335

In [77]:
y = 7 // 3 # 몫 연산자
print(y)

2

In [78]:
y = 7 % 3 # 나머지 연산자
print(y)

1

In [ ]:
# % 연산자로 대한민국 주민번호 - 남/여 구분 예제