<a href="https://colab.research.google.com/github/sdw1621/hanhwagroup/blob/main/211026_CH03_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**코딩스쿨 연습문제**

http://codingschool.info/content/prob_basic.php?prob_type=view&num=25&cat=string

In [2]:
# Q25. 다음은 문자열의 끝 부분의 문자열을 추출하는 프로그램이다. 빈 칸을 채워 프로그램을 완성하시오. (100점)

data = "우리는 자연을 사랑하고 환경을 보존해야 한다."

# word = data[13:]
word = data[-12:]

print(word)

# 결과
# 환경을 보존해야 한다.

환경을 보존해야 한다.

###**예제 3-1. if~else 구문으로 양수 판별**

In [3]:
 x = int(input('숫자를 입력하세요 : ')) # "50"
 print(x)

숫자를 입력하세요 : 23
23

In [4]:
if x > 0:
  print("양수")

if x < 0:
  print("양수")

양수

In [6]:
if x > 0:
  print("양수")
else:
  print("0 또는 음수")

양수

In [7]:
x = int(input('숫자를 입력하세요 : '))

if x > 0:
  print("양수")
else:
  print("0 또는 음수")

숫자를 입력하세요 : -6
0 또는 음수

###**예제 3-2. 비교 연산자의 참/거짓**

In [9]:
x = 10
y = 3
print( x % 4 == 0)
print( y % 3 != 0)

###**예제 3-3. 자격증 시험 합격/불합격 판정**

In [11]:
score1 = int(input("필기시험 성적을 입력하세요 : "))
score2 = int(input("실기시험 성적을 입력하세요 : "))

print(score1)
print(score2)

필기시험 성적을 입력하세요 : 90
실기시험 성적을 입력하세요 : 85

In [13]:
print(score1 >= 80) # 시험 합격 기준 : 80점

True

In [14]:
print(score2 >= 80) # 시험 합격 기준 : 80점

True

In [15]:
if score1 >= 80 and score2 >= 80:
  print("합격!")

합격!

In [16]:
if score1 >= 80 and score2 >= 80:
  print("합격!")
else:
  print("불합격!")

합격!

In [17]:
score1 = int(input("필기시험 성적을 입력하세요 : "))
score2 = int(input("실기시험 성적을 입력하세요 : "))

if score1 >= 80 and score2 >= 80:
  print("합격!")
else:
  print("불합격!")

필기시험 성적을 입력하세요 : 75
실기시험 성적을 입력하세요 : 95
불합격!

In [20]:
# 김치찌게, 된장찌게

menu1 = input("첫 번쨰 메뉴를 입력하세요 : ") # 김치찌게
menu2 = input("두 번째 메뉴를 입력하세요 : ") # 된장찌게

if menu1 == '김치찌게' and menu2 == '된장찌게':
  print("이 식당에서 점심 드시죠!")
else:
  print("다른 식당 가시죠!")

첫 번쨰 메뉴를 입력하세요 : 김치찌게
두 번째 메뉴를 입력하세요 : 제육
다른 식당 가시죠!

###**예제 3-4. 홈페이지 관리자 판별**

In [21]:
user_id = input("아이디를 입력하세요 :")
level = int(input("회원 레벨을 입력하세요 : "))

print(user_id)
print(level)

아이디를 입력하세요 :admin
회원 레벨을 입력하세요 : 1
admin
1

In [22]:
print(type(user_id))
print(type(level))

<class 'str'>
<class 'int'>

In [23]:
print(user_id == 'admin')

True

In [24]:
print(level == 1)

True

In [25]:
if user_id == 'admin' or level == 1:
  print("관리자이다.")
else:
  print("관리자가 아니다.")

관리자이다.

In [26]:
user_id = input("아이디를 입력하세요 :")
level = int(input("회원 레벨을 입력하세요 : "))

if user_id == 'admin' or level == 1:
  print("관리자이다.")
else:
  print("관리자가 아니다.")

아이디를 입력하세요 :rubato
회원 레벨을 입력하세요 : 1
관리자이다.

In [27]:
user_id = input("아이디를 입력하세요 :")
level = int(input("회원 레벨을 입력하세요 : "))

if user_id == 'admin' or level == 1:
  print("관리자이다.")
else:
  print("관리자가 아니다.")

아이디를 입력하세요 :ocella
회원 레벨을 입력하세요 : 7
관리자가 아니다.

In [31]:
# or 응용!

# 김치찌게, 된장찌게

menu1 = input("첫 번쨰 메뉴를 입력하세요 : ") # 김치찌게
menu2 = input("두 번째 메뉴를 입력하세요 : ") # 된장찌게

if menu1 == '김치찌게' or menu2 == '된장찌게':
  print("이 식당에서 점심 드시죠!")
else:
  print("다른 식당 가시죠!")

첫 번쨰 메뉴를 입력하세요 : 제육
두 번째 메뉴를 입력하세요 : 김치
다른 식당 가시죠!

###**예제 3-6. 논리 연산자 not의 사용 예**

In [32]:
print(not True)

False

In [33]:
print(not False)

True

In [35]:
name = input("이름을 입력하세요 : ")

if not name:
  print("이름이 입력되지 않았다.")
else:
  print(f"이름 : {name}")

이름을 입력하세요 : 신동욱
이름 : 신동욱

In [ ]:
name = input("이름을 입력하세요 : ")

if not name:
  print("이름이 입력되지 않습니다. 이름을 입력해주세요")
else:
  print(f"이름 : {name}")

# while 반복구문
# 비밀번호 틀렸을 때 5번까지는 다시 입력할 수 있게
# 5번 틀렸을 때는
# 대면 : 영업점에 와서 비번 관리자가 바꾸게 해
# 비대면 : 초기화할거니까 너의 정보를 정확하게 입력(이메일, 앱(PASS), 지문)

wrong_cnt = 0 # 숫자 데이터 초기화

while wrong_cnt < 5: # 조건문이 False 무한반복 X
  wrong_cnt = wrong_cnt + 1 # 한 개씩 증가

###**예제 3-7. 참/거짓 판별**

In [36]:
if 15:
  print(True)
else:
  print(False)

True

In [37]:
if 0:
  print(True)
else:
  print(False)

False

In [ ]:
# 숫자 데이터 초기화(값 없다)
num = 0 # False

# 숫자 데이터 있음(값 있음)
num = 100 # True

# 문자 데이터 초기화 (문자 없다)
word = '' # False

# 문자 데이터 초기화 (문자 없다)
word = '홍길동' # True

In [38]:
if None == True:
  print("해당 셀에 값이 없습니다.")
else:
  print("특정 값이 존재합니다.")

False

In [39]:
# IOT 데이터
# 특이사항 있음 / 없음

# 밑에 보이는 문자열 보는 방법 (데이터시트 = 설명서)
# IOT[0:4] : yyyy(년도)
# IOT[4:6] : mm(월)
# IOT[-1] : 비 여부
# 1 : 비 옴
# 0 : 비 안 옴
IOT = "20211025AM10151"

print(IOT[-1])

1

In [40]:
if IOT[-1] == "1":
  print("오늘 비가 옵니다.")
else:
  print("오늘 비가 안 옵니다.")

오늘 비가 옵니다.

In [44]:
IOT = "20211025AM10151"

print(IOT[14])
print(bool(IOT[14]))

1
True

###**예제 3-8. if~ 구문 사용 예**

In [56]:
age = int(input("나이를 입력하세요 :"))
pay = '3000원'

if age < 7 or age >= 65:
  pay = "무료"
  print(f"입장료 : {pay}")
else:
  print(f"입장료 : {pay}")

나이를 입력하세요 :25
입장료 : 3000원

In [58]:
age = int(input("나이를 입력하세요 :"))
pay = '3000원'

if age < 7 or age >= 65:
  pay = "무료"

print(f"입장료 : {pay}")

나이를 입력하세요 :20
입장료 : 3000원

In [ ]:
if 0 <= age <= 19:
  print("미성년자입니다.")
else:
  print("성인입니다.")

In [53]:
age = int(input("나이를 입력하세요 :"))

if 0 <= age <= 7:
  print("유치원생입니다.")
elif 8 <= age <= 13:
  print("초등학생입니다.")  
elif 14 <= age <= 16:
  print("중학생입니다.")
elif 17 <= age <= 19:
  print("고등학생입니다.")  
else:
  print("성인입니다.")

나이를 입력하세요 :22
성인입니다.

###**예제 3-9. if~else 구문 사용 예**

In [60]:
name = "카미센세"
answer = '12345'
password = input('비밀번호를 입력하세요 :')

# 반복구문 while
if password == answer:
  print(f'{name}님 환영합니다.')
else:
  print("아이디 또는 비밀번호가 잘못 입력 되었습니다.\n아이디와 비밀번호를 정확히 입력해 주세요.")

비밀번호를 입력하세요 :1111
아이디 또는 비밀번호가 잘못 입력 되었습니다.
아이디와 비밀번호를 정확히 입력해 주세요.

###**예제 3-10. if~ elif ~else 구문 사용 예**

In [61]:
score = int(input("점수를 입력하세요 : "))

if score >= 90: # 90 ~ 100
  grade = 'A'
elif score >= 80: # 80~89
  grade = 'B'
elif score >= 70: # 70~79
  grade = 'C'
elif score >= 60: # 60~69
  grade = 'D'
else:
  grade = 'F' # 0~59

print(f"성적 : {score}점")
print(f"등급 : {grade}")

점수를 입력하세요 : 85
성적 : 85점
등급 : B

###**PDF 125. Q3-1. 코딩 연습 : 월을 입력받아 계절 표시하기**

In [66]:
# 상식
# 겨울 : 1, 2, 12
# 봄 : 3, 4, 5
# 여름 : 6, 7, 8
# 가을 : 9, 10, 11

# 4계절
month = int(input("1~12의 숫자를 입력하세요 : "))

if 3 <= month <= 5:
  print(f"{month}월은 봄입니다.")
elif 6 <= month <= 8:
  print(f"{month}월은 여름입니다.")
elif 9 <= month <= 11:
  print(f"{month}월은 가을입니다.")
else: # 12, 1, 2
  print(f"{month}월은 겨울입니다.")

1~12의 숫자를 입력하세요 : 10
10월은 가을입니다.

In [74]:
# https://knowallworld.tistory.com/5

start_num = 1
end_num = 12
input_num = 0

while True:
  input_num = int(input(f"{start_num} ~ {end_num} 숫자를 입력하세요 : "))

  if (start_num <= input_num <= end_num):
    if 3 <= month <= 5:
      print(f"{month}월은 봄입니다.")
      break
    elif 6 <= month <= 8:
      print(f"{month}월은 여름입니다.")
      break
    elif 9 <= month <= 11:
      print(f"{month}월은 가을입니다.")
      break
    else: # 12, 1, 2
      print(f"{month}월은 겨울입니다.")
      break
  else : 
    limit_cnt = 0
    while limit_cnt < 5:
      input_num = int(input(f"{start_num} ~ {end_num} 숫자를 입력하세요 : "))
      limit_cnt = limit_cnt + 1
      break
  break

1 ~ 12 숫자를 입력하세요 : 13
1 ~ 12 숫자를 입력하세요 : 10

####**1단계. 변수처리**

In [76]:
# https://knowallworld.tistory.com/5

# 시작달 : 1월
start_num = 1 

# 마지막달 : 12월
end_num = 12 

# 정수형 초기값 : 0
input_num = 0

input_num = int(input(f"{start_num}~{end_num} 숫자를 입력하세요 : "))
print(input_num)

1~12 숫자를 입력하세요 : 1
1

####**2단계.**

In [80]:
# while 구문 문법
# while 조건식:

# 조건식의 결과는 True, False가 나와야 함

# 조건식의 결과는 True : 무한 반복
while True:
  limit_cnt = 0 # 초기값, limit(제한)_cnt(count)

  while limit_cnt < 5:
    # limit_cnt +=  1
    limit_cnt = limit_cnt + 1
    print(limit_cnt)

    # 반복구문(for, while) 깰 수 있는 키워드 break문
    # break구문은 가장 가까운 부모 반복(while limit_cnt < 5)을 깰 수 있음

  # 반복구문(for, while) 깰 수 있는 키워드 break문
  # break구문은 가장 가까운 부모 반복(while True)을 깰 수 있음
  break

1
2
3
4
5

In [79]:
limit_cnt = 0

while limit_cnt < 5:
  limit_cnt = limit_cnt + 1
  print(limit_cnt)

1
2
3
4
5

In [ ]:
name = "카미센세"
answer = '12345'
password = input('비밀번호를 입력하세요 :')

# 비밀번호 초기화 제한
ini_cnt = 0 # 초기값 0
limit_cnt = 5 # 제한값 5

if password == answer:
  print(f'{name}님 환영합니다.')
else:
  while ini_cnt < limit_cnt:
    print(f"비밀번호 총 {ini_cnt+1}/{limit_cnt} 틀렸습니다.")
    ini_cnt = ini_cnt + 1
    print("아이디 또는 비밀번호가 잘못 입력 되었습니다.\n아이디와 비밀번호를 정확히 입력해 주세요.\n")
    if ini_cnt == limit_cnt:
      print("비밀번호를 초기화합니다.")
      break
    password = input('비밀번호를 입력하세요 :')

In [109]:
answer = '12345' # 데이터베이스 비밀번호

password = input('비밀번호를 입력하세요 :') # 사용자 웹으로 입력하신 비번

if password == answer:
  print(f'{name}님 환영합니다.')
else:
  ini_cnt = 0
  limit_cnt = 5

  while ini_cnt < limit_cnt:
    print(f"비밀번호 총 {ini_cnt+1}/{limit_cnt} 틀렸습니다.")
    ini_cnt = ini_cnt + 1
    password = input('비밀번호를 입력하세요 :')

비밀번호를 입력하세요 :1
비밀번호 총 1/5 틀렸습니다.
비밀번호를 입력하세요 :1
비밀번호 총 2/5 틀렸습니다.
비밀번호를 입력하세요 :1
비밀번호 총 3/5 틀렸습니다.
비밀번호를 입력하세요 :1
비밀번호 총 4/5 틀렸습니다.
비밀번호를 입력하세요 :1
비밀번호 총 5/5 틀렸습니다.
비밀번호를 입력하세요 :1

In [110]:
# 비밀번호 초기화 제한
ini_cnt = 0 # 초기값 0
limit_cnt = 5 # 제한값 5

while ini_cnt < limit_cnt:
  print(f"비밀번호 총 {ini_cnt+1}/{limit_cnt} 틀렸습니다.")
  ini_cnt = ini_cnt + 1
  print("아이디 또는 비밀번호가 잘못 입력 되었습니다.\n아이디와 비밀번호를 정확히 입력해 주세요.\n")
  if ini_cnt == limit_cnt:
    print("비밀번호를 초기화합니다.")
    break
  password = input('비밀번호를 입력하세요 :')

비밀번호 총 1/5 틀렸습니다.
아이디 또는 비밀번호가 잘못 입력 되었습니다.
아이디와 비밀번호를 정확히 입력해 주세요.

비밀번호를 입력하세요 :1
비밀번호 총 2/5 틀렸습니다.
아이디 또는 비밀번호가 잘못 입력 되었습니다.
아이디와 비밀번호를 정확히 입력해 주세요.

비밀번호를 입력하세요 :1
비밀번호 총 3/5 틀렸습니다.
아이디 또는 비밀번호가 잘못 입력 되었습니다.
아이디와 비밀번호를 정확히 입력해 주세요.

비밀번호를 입력하세요 :1
비밀번호 총 4/5 틀렸습니다.
아이디 또는 비밀번호가 잘못 입력 되었습니다.
아이디와 비밀번호를 정확히 입력해 주세요.

비밀번호를 입력하세요 :1
비밀번호 총 5/5 틀렸습니다.
아이디 또는 비밀번호가 잘못 입력 되었습니다.
아이디와 비밀번호를 정확히 입력해 주세요.

비밀번호를 초기화합니다.

###**PDF 128. Q3-4. 코딩 연습 : 영어 알파벳 모음/자음 판별하기**

In [112]:
# 응용

passport = input("본인의 이름을 영어로 입력하세요 : ")

passport_up = passport.upper()

print(passport_up)

# 파이썬 중급
# 나중에는 정규식을 통해서 영어만 입력받게 제한을 둘 수 있음

본인의 이름을 영어로 입력하세요 : shindongwook
SHINDONGWOOK

###**PDF 130. Q3-6. 코딩 연습 : 할인율에 따른 지불 금액 계산하기**

In [119]:
# 할인율 (rate)
# 10000 <= buy < 50000 # 5%
# 50000 <= buy <= 300000 # 7.5%
# buy >= 300000 # 10%
# 그 외 0~9999 # 0%


buy = int(input('물건 구매가를 입력하세요: '))

if 10000 <= buy < 50000:
  # print(5)
  rate = 5
elif 50000 <= buy <= 300000:
  rate = 7.5
elif buy >= 300000:
  rate = 7.5
else:
  rate = 0

# 할인금액(discount)
# 지불금액(pay)
discount = buy * rate /100
pay = buy - discount

# print(type(rate))
print('할인율 : %.1f%%' %rate)
print('할인 금액 : %.0f원' %discount)
print('지불 금액 : %.0f원' %pay)

물건 구매가를 입력하세요: 60000
할인율 : 7.5%
할인 금액 : 4500원
지불 금액 : 55500원

In [120]:
# 응용
# 쿠폰 발행
# 10000 <= buy < 50000 # 5000원
# 50000 <= buy <= 300000 # 7500원
# buy >= 300000 # 10000원
# 그 외 0~9999 # 0원

buy = int(input('물건 구매가를 입력하세요: '))

if 10000 <= buy < 50000:
  coupon = 5000
elif 50000 <= buy <= 300000:
  coupon = 7500
elif buy >= 300000:
  coupon = 10000
else:
  coupon = 10000

print(f'쿠폰 {coupon} 받으실 수 있어요~!')

물건 구매가를 입력하세요: 60000
쿠폰 7500 받으실 수 있어요~!