<a href="https://colab.research.google.com/github/sdw1621/hanhwagroup/blob/main/211020_CH02_%ED%95%9C%ED%99%94_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **예제 2-1. 두 수 더하기**

In [1]:
a = 20
b = 30
c = a + b
print(c)

50

###**예제 2-2 올바른 변수명**

In [1]:
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

print(x, Computer, Age, my_score, _name, myBirthYear, data2)

20 Mac 30 70 홍길동 1997 20.3

###**예제 2-3 잘못된 변수명**

In [3]:
eng score = 90
7font = '굴림'
my-age = 20
percent% = 100
animal# = '사슴'

SyntaxError: ignored

###**예제 2-4 정수형의 데이터형**

In [4]:
x = 30
print(x)
print(type(x))

30
<class 'int'>

###**예제 2-5 실수형의 데이터형**

In [5]:
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

###**예제 2-6 문자열의 데이터형**

In [7]:
a = 'x'
b = 'I am ok.'
c = "안녕하세요."

print(a)
print(b)
print(c)
print(type(c))

x
I am ok.
안녕하세요.
<class 'str'>

###**예제 2-7 30과 '30'의 차이**

In [8]:
a = 30
print(a)
print(type(a))

b = '30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

###**예제 2-8 문자열의 요소 추출**

In [9]:
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

###**예제 2-9 불(bool) 데이터 형**

In [10]:
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(a))

True
False
False
<class 'bool'>

###**예제 2-10 사칙 연산자**

In [11]:
a = 10
b = 20

c = a + b * 10 - 5 / 5
print(c)

209.0

###**예제 2-11 나머지 연산자와 소수점 절삭 연산자**

In [13]:
x = 10 % 3
print(x)

y = 7 // 3
print(y)

1
2

###**예제 2-12 거듭제곱 연산자**

In [14]:
x = 2 ** 3
print(x)

y = 10 ** 4
print(y)

8
10000

###**예제 2-13 할당 연산자 +=**

In [15]:
x = 10
x += 20
print(x)

30

###**예제 2-14 할당 연산자 *=**

In [17]:
x = 3
y = 5
x *= x + y
print(x)

24

###**예제 2-15 문자열 반복**

In [18]:
hello = '안녕' * 5

print(hello)

안녕안녕안녕안녕안녕

###**예제 2-16 문자열 길이 구하기**

In [19]:
a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(b)

15

###**예제 2-17 문자열 연결 연산자 : +**

In [20]:
name = '홍지수'
greet = name + "님 안녕하세요!"
print(greet)

홍지수님 안녕하세요!

###**예제 2-18 문자열 연결 시 오류 발생**

In [21]:
eng = 80
result = '영어 점수 : ' + eng + '점'
print(result)

TypeError: ignored

###**예제 2-19 예제 2-18의 오류 수정**

In [22]:
eng = 80
result = '영어 점수 : ' + str(eng) + '점'
print(result)

영어 점수 : 80점

###**예제 2-20 문자열 포맷팅 : %s**

In [23]:
name = '김수영'
a = '나는 %s입니다.' %name
print(a)

나는 김수영입니다.

###**예제 2-21 문자열 포맷팅 : %d**

In [24]:
age = 20
a = '나이는 %d살 입니다.' %age
print(a)

나이는 20살 입니다.

###**예제 2-22 정수형 숫자 0으로 채우기 : %2d**

In [25]:
year = 2020
month = 3
day = 5

a = '%d-%02d-%02d' %(year, month, day)
print(a)

2020-03-05

###**예제 2-23 문자열 포맷팅 : %.2f**

In [26]:
height = 172.5
a = '키는 %.2f입니다.' %height
print(a)

키는 172.50입니다.

###**예제 2-24 str.format() 문자열 포맷팅**

In [29]:
name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18
시력 : 1.2

###**예제 2-25 콤마(,)를 이용한 출력**

In [30]:
name = '홍길동'
age = 30
height = 173.7

print(name, age, height)

홍길동 30 173.7

###**예제 2-26 문자열 연결 기호(+)를 이용한 출력**

In [31]:
x = 10
y = 20

print('x = ' + str(x) + ', y = '+ str(y))

x = 10, y = 20

###**예제 2-27 문자열 포맷팅(%)를 이용한 출력**

In [38]:
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum / 2

print('두 과목 점수 : %d, %d'  %(score1, score2))
print('합계 : %d, 평균 : %.2f' %(sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

###**예제 2-28 format()을 이용한 출력**

In [39]:
name = '김소원'
id = 'kim'
point = 18000

print('이름 : {}'.format(name))
print('아이디 : {}, 마일리지 : {}'.format(id, point))

이름 : 김소원
아이디 : kim, 마일리지 : 18000

###**예제 2-29 키워드 sep 이용한 출력**

In [40]:
year = 2020
month = 3
day = 5

print(year, month, day, sep='/')

2020/3/5

###**예제 2-30 키워드 end 이용한 출력**

In [42]:
a = '안녕하세요.'
b = '반갑습니다.'

print(a)
print(b)

print('\n\n')

print(a, end='')
print(b)

안녕하세요.
반갑습니다.



안녕하세요.반갑습니다.

###**예제 2-31 input()을 이용한 키보드 입력**

In [43]:
name = input("이름을 입력하세요 : ")

print('%s님 반갑습니다.' % name)

이름을 입력하세요 : 홍길동
홍길동님 반갑습니다.

###**예제 2-32 입력받은 두 수의 합 구하기 : 잘못된 결과**

In [44]:
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

c = a + b

print(c)

print(type(a),type(b),type(c))

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
1020
<class 'str'> <class 'str'> <class 'str'>

###**예제 2-33 예제 2-32의 프로그램 수정하기**

In [45]:
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')

c = int(a) + int(b)

print(c)

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
30

In [46]:
a = int(input('첫 번째 숫자를 입력하세요 : '))
b = int(input('두 번째 숫자를 입력하세요 : '))

c = a + b

print(c)

첫 번째 숫자를 입력하세요 : 10
두 번째 숫자를 입력하세요 : 20
30

###**예제 2-34 키보드 입력된 인치를 센티미터로 변환**

In [47]:
inch = float(input('인치(inch)를 입력하세요 : '))

cm = inch * 2.54

print("센티미터 : %.2f" %cm)

인치(inch)를 입력하세요 : 32.8
센티미터 : 83.31

###**PDF 93, Q2-1 코딩 연습 : 삼각형의 면적 구하기**

**실행 결과**

* 삼각형의 밑변 길이 : 10
* 삼각형의 높이 : 3
* 삼각형의 면적 : 15.0

In [48]:
width = 10
height = 3

area = width * height / 2

print("삼각형의 밑변 길이:", width)
print("삼각형의 높이:", height)
print("삼각형의 면적:", area)

삼각형의 밑변 길이: 10
삼각형의 높이: 3
삼각형의 면적: 15.0

###**PDF 94, Q2-2 코딩 연습 : 거스름돈 계산하기**

**실행 결과**

* 물건가격 : 800원
* 구매개수 : 3개
* 지불금액 : 5000원
* 거스름돈 : 2600원

In [49]:
price = 800
buy = 3
pay = 5000

charge = pay - price * buy

print('물건가격:', price, '원')
print('구매개수:', buy, '개')
print('지불금액:', pay, '원')
print('거스름돈:', charge, '원')

물건가격: 800 원
구매개수: 3 개
지불금액: 5000 원
거스름돈: 2600 원

###**PDF 95, Q2-3 코딩 연습 : 숫자 연산자**

In [50]:
x = 20
y = 4

x =  y % x
print(x)

y -= x * 2
print(x, y)

4
4 -4

###**PDF 96, Q2-4 코딩 연습 : 문자열 추출과 문자열 포맷팅**

**실행 결과**

* 성 : 홍
* 이름 : 길동
* 홍길동의 나이 : 30세, 키 : 171.50cm

In [53]:
name = "홍길동"
age = 30
height = 171.5

print('성 :', name[0])
print('이름 :', name[1:])
print("%s의 나이 : %d세, 키 : %.2fcm" %(name, age, height))

성 : 홍
이름 : 길동
홍길동의 나이 : 30세, 키 : 171.50cm

###**PDF 97, Q2-5 코딩 연습 : 키보드로 성적 입력받아 평균 구하기**

**실행 결과**

* 학생 이름을 입려하세요 : 황예린
* 국어 성적을 입력하세요 : 83
* 영어 성적을 입력하세요 : 85
* 수학 성적을 입력하세요 : 91
* 이름:황예린, 국어:83, 영어:85, 수학:91, 평균:86.3점

In [56]:
name = input("학생 이름을 입력하세요 : ")
kor = int(input('국어 성적을 입력하세요 : '))
eng = int(input('영어 성적을 입력하세요 : '))
math = int(input('수학 성적을 입력하세요 : '))

total = kor + eng + math
avg = total / 3

print("이름:%s, 국어:%d, 영어:%d, 수학:%d, 평균:%.1f점" %(name, kor, eng, math, avg))

학생 이름을 입력하세요 : 황예린
국어 성적을 입력하세요 : 83
영어 성적을 입력하세요 : 85
수학 성적을 입력하세요 : 91
이름:황예린, 국어:83, 영어:85, 수학:91, 평균:86.3점

###**예제 2-35 주석문**

In [57]:
"""
프로그램명 : 두 수 더하기
작성자 : 홍길동
작성일 : 2021.9.20
"""

a = 10
b = 20

c = a + b

print(c)

30

###**PDF 101, 1일차 과제 : 4번 ~ 6번 문제**

**문제 4.** <br>
온라인 서점에서 결제할 금액을 계산하는 프로그램을 작성하시오. <br>단, 실행결과는 아래와 정확하게 일치하도록 하고,<br> <b>책 값, 할인율, 배송료는 키보드로 입력 받아 처리</b>한다.

* 힌트 : 결제 금액 = 책 값 - (책 값 * 할인율 / 100) + 배송료

**실행 결과**

* 책 값을 입력하세요 : 15000
* 할인율을 입력하세요(%) : 15
* 배송료를 입력하세요 : 3000
* 결제 금액 : 15750원

**문제 5.** <br>
이름, 현재년, 출생년을 입력받아 나이를 계산하는 프로그램을 작성하시오.

* 힌트 : 나이 = 현재년 - 출생년 + 1

**실행 결과**

* 이름을 입력하세요 : 안지영
* 현재년을 입력하세요 : 2020
* 탄생년을 입력하세요 : 1997
* 안지영님의 나이는 24세 입니다!

**문제 6.** <br>
연, 월, 일을 입력받아 ####-##-##의 형태로 출력하는 프로그램을 작성하시오.<br> 단, 실행 결과에서와 같이 **월과 일에 1~9의 숫자가 입력되면 그 숫자 앞에 0을 채운다.**

**실행 결과**

* 연을 입력하세요 : 2020
* 월을 입력하세요 : 1
* 일을 입력하세요 : 5<br>
출력 결과 : 2020-01-05