<a href="https://colab.research.google.com/github/sdw1621/hanhwagroup/blob/main/211020_CH03_%ED%95%9C%ED%99%94_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **예제 3-1. if~else~ 구문으로 양수 판별**

In [2]:
x = int(input('숫자를 입력하세요 : '))

if x > 0:
  print("양수!")
else:
  print('0 또는 음수!')

숫자를 입력하세요 : 23
양수!

###**예제 3-2 비교 연산자의 참/거짓**

In [3]:
x = 10
y = 3

print(x > 9) # x가 9보다 큰가?
print(y <= 10) # x가 10보다 작거나 같은가?
print(x + y == 13) # x + y가 13과 같은가?
print(x % 2 == 0) # x를 2로 나눈 나머지가 0인가? 즉, 짝수인가?
print(y % 2 == 0) # y를 2로 나눈 나머지가 0인가? 즉, 짝수인가?
print(x % 4 == 0) # x가 4의 배수인가?
print(y % 3 != 0) # y는 3의 배수가 아닌가?

True
True
True
True
False
False
False

###**예제 3-3 짝수/홀수 판별**

In [5]:
num = int(input('숫자를 입력하세요 : '))

if num % 2 == 0:
  print("짝수이다.")
else:
  print("홀수이다.")

숫자를 입력하세요 : 35
홀수이다.

###**예제 3-4 자격증 시험 합격/불합격 판정**

In [7]:
score1 = int(input("필기성적을 입력하세요 : "))
score2 = int(input("실기성적을 입력하세요 : "))

if score1 >= 80 and score2 >= 80:
  print('합격!')
else:
  print('불합격!')

필기성적을 입력하세요 : 75
실기성적을 입력하세요 : 95
불합격!

###**예제 3-5 홈페이지 관리자 판별**

In [11]:
id = input('아이디를 입력하세요 : ')
level = int(input('회원 레벨을 입력하세요 : '))

if id == 'admin' or level == 1:
  print('관리자이다.')
else:
  print('관리자가 아니다.')

아이디를 입력하세요 : ocella
회원 레벨을 입력하세요 : 7
관리자가 아니다.

###**예제 3-6 논리 연산자 not의 사용 예**

In [13]:
name = input('이름을 입력하세요 : ')

if not name:
  print("이름이 입력되지 않았다.")
else:
  print("이름 : %s" %name)

이름을 입력하세요 : 홍지수
이름 : 홍지수

###**예제 3-7 참/거짓 판정**

In [15]:
print(True) if 15 else print(False)
print(True) if 0 else print(False)
print(True) if None else print(False)
print(True) if '홍길동' else print(False)

True
False
False
True

###**예제 3-8 if~ 구문의 사용 예**

In [17]:
age = int(input('나이를 입력하세요 : '))
pay = '3000원'

if age >= 65 or age < 7:
  pay = '무료'

print('입장료 :  %s' %pay)

나이를 입력하세요 : 25
입장료 :  3000원

###**예제 3-9 if~else 구문의 사용 예**

In [19]:
answer = '12345'
password = input('비밀번호를 입력하세요 : ')

if password == answer:
  print('비밀번호 OK!')
else:
  print('비밀번호 Not OK!')

비밀번호를 입력하세요 : 12345
비밀번호 OK!

###**예제 3-10 if ~ elif ~ else 구문의 사용 예**

In [21]:
score = int(input('점수를 입력하세요 : '))

if score >= 90:
  grade = 'A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
elif score >= 60:
  grade = 'D'
else:
  grade = 'F'

print('성적 : %d점' %score)
print('등급 : %s' %grade)

점수를 입력하세요 : 85
성적 : 85점
등급 : B

###**PDF 125, Q3-1 코딩 연습 : 월을 입력받아 계절 표시하기**

**실행 결과**

* 월을 입력하세요 : 7<br>
* 출력결과 :  7월은 여름입니다.

In [28]:
month = int(input('월을 입력하세요 : '))

if month >= 3 and month <= 5:
  print("%d월은 봄입니다." %month)

if month >= 6 and month <= 8:
  print("%d월은 여름입니다." %month)

if month >= 9 and month <= 11:
  print("%d월은 가을입니다." %month)

if month == 12 or month == 1 or month == 2:
  print("%d월은 겨울입니다." %month)

월을 입력하세요 : 1
1월은 겨울입니다.

###**PDF 127, Q3-3 코딩 연습 : 4의 배수인지 5의 배수인지 판별하기**

**실행 결과**

* 숫자를 입력하세요 : 34
* 34은(는) 4의 배수도 5의 배수도 아니다.

In [41]:
num = int(input("숫자를 입력하세요 : "))
result = '4의 배수도 5의 배수도 아니다.'

if num % 4 == 0:
  result = '4의 배수이다.'
elif num % 5 == 0:
  result = '5의 배수이다.'
  
if num % 4 == 0 and num % 5 == 0:
  result = '4의 배수이면서 5의 배수이다.'

print("%d은(는) %s" %(num, result))

숫자를 입력하세요 : 5
5은(는) 5의 배수이다.

###**PDF 128, Q3-4 코딩 연습 : 영어 알파벳 모음/자음 판별하기**

**실행 결과**

* 영어 알파벳을 입력하세요 : w
* w은(는) 자음이다.

In [46]:
char = input("영어 알파벳을 입력하세요 : ")
char2 = char.upper()

if char2 == 'A' or char2 == 'E' or char2 == 'I' or char2 == 'O' or char2 =='U':
  print("%s은(는) 모음이다." %char2)
else:
  print("%s은(는) 자음이다." %char2)

영어 알파벳을 입력하세요 : b
B은(는) 자음이다.

###**PDF 129, Q3-5 코딩 연습 : 키와 몸무게에 따라 체형 판정하기**

**실행 결과**

* 키를 입력해 주세요 : 175
* 몸무게를 입력해 주세요 : 70

**출력결과**
* 키 : 175cm<br>
* 몸무게 : 70kg<br>
* 딱 보기 좋습니다.<br>

In [49]:
height = int(input("키를 입력해 주세요 : "))
weight = int(input("몸무게를 입력해 주세요 : "))

a = (height - 100) * 0.9

print('-' * 30)
print("키 : %dcm" %height)
print("몸무게 : %dkg" %weight)

if weight > a:
  print("딱 보기 좋습니다.")
else:
  print("표준(또는 마른) 체형입니다.")

print('-' * 30)

키를 입력해 주세요 : 175
몸무게를 입력해 주세요 : 70
------------------------------
키 : 175cm
몸무게 : 70kg
딱 보기 좋습니다.
------------------------------

###**PDF 130, Q3-6 코딩 연습 : 할인율에 따른 지불 금액 계산하기**

**할인율**
1. 10000원 이상 ~ 50000원 미만 : 5%
2. 50000원 이상 ~ 300000원 미만 : 7.5%
3. 300000원 이상 : 10%

**실행 결과**

* 물건 구매가를 입력하세요 : 60000
* 구매가 : 60000원
* 할인율 : 7.5%
* 할인 금액 : 4500원
* 지불 금액 : 55500원

In [50]:
buy = int(input("물건 구매가를 입력하세요 : "))

if buy >= 10000 and buy < 50000:
  rate = 5
elif buy >= 50000 and buy < 300000:
  rate = 7.5
elif buy >= 300000:
  rate = 10
else:
  rate = 0

discount = buy * rate / 100
pay = buy - discount

print("구매가 : %.0f원" %buy)
print("할인율 : %.1f%%" %rate)
print("할인 금액 : %.0f원" %discount)
print("지불 금액 : %.0f원" %pay)

물건 구매가를 입력하세요 : 20000
구매가 : 20000원
할인율 : 5.0%
할인 금액 : 1000원
지불 금액 : 19000원

###**PDF 131, Q3-7 코딩 연습 : 세 수 중 가장 큰 수 찾기**

**실행 결과**

* 첫 번째 정수를 입력하세요 : 34
* 두 번째 정수를 입력하세요 : 33
* 세 번째 정수를 입력하세요 : 27
* 입력된 세 수 34, 33, 27 중에서 가장 큰 수는 34 입니다.

In [51]:
num1 = int(input('첫 번째 정수를 입력하세요 : '))
num2 = int(input('두 번째 정수를 입력하세요 : '))
num3 = int(input('세 번째 정수를 입력하세요 : '))

if (num1 >= num2) and (num1 >= num3):
  largest = num1
elif (num2 >= num1) and (num2 >= num3):
  largest = num2
else:
  largest = num3

print('입력된 세 수 %d, %d, %d 중에서 가장 큰 수는 %d 입니다.' %(num1, num2, num3, largest))

첫 번째 정수를 입력하세요 : 10
두 번째 정수를 입력하세요 : 20
세 번째 정수를 입력하세요 : 30
입력된 세 수 10, 20, 30 중에서 가장 큰 수는 30 입니다.

###**PDF 132, Q3-8 코딩 연습 : 고객 만족도에 따른 팁 계산하기**

**팁 : 매우만족(1) 20%. 만족(2) 10%, 불만족(3) 5%**

**실행 결과**

* 서비스 만족도 :<br>
1: 매우만족<br>
2: 만족<br>
3: 불만족<br>
서비스 만족도를 입력해주세요(예: 1 또는 2 또는 3) : 2<br>
음식값을 입력해주세요(예:8000) : 9000

서비스 만족도 : 만족, 팁 : 900원

In [53]:
print("서비스 만족도 : ")
print(" 1: 매우 만족 ")
print(" 2: 만족 ")
print(" 3: 불만족 ")

a = input("서비스 만족도를 입력해주세요(예: 1 또는 2 또는 3) : ")

price = int(input('음식값을 입력해 주세요(예:8000) : '))

if a == "1" :
  tip = int(price * 0.2)
  service = '매우 만족'
elif a == "2":
  tip = int(price * 0.1)
  service = '만족'
else :
  tip = int(price * 0.05)
  service = '불만족'

print()
print('서비스 만족도 :%s, 팁 : %d원' %(service, tip))

서비스 만족도 :
 1: 매우 만족
 2: 만족
 3: 불만족
서비스 만족도를 입력해주세요(예: 1 또는 2 또는 3) : 1
음식값을 입력해 주세요(예:8000) : 9000

서비스 만족도 :매우 만족, 팁 : 1800원

###**예제 3-11 만 나이 계산하기**

In [55]:
now_year = int(input("현재년을 입력해 주세요 : "))
now_month = int(input("현재월을 입력해 주세요 : "))
now_day = int(input("현재일을 입력해 주세요 : "))

birth_year = int(input("출생년을 입력해 주세요 : "))
birth_month = int(input("출생월을 입력해 주세요 : "))
birth_day = int(input("출생일을 입력해 주세요 : "))

if birth_month < now_month :
  age = now_year - birth_year
elif birth_month == now_month :
  if birth_day < now_day:
    age = now_year - birth_year
  else:
    age = now_year - birth_year - 1
else:
  age = now_year - birth_year - 1

print('-' * 50)
print('오늘 날짜 :  %d년 %d월 %d일' %(now_year, now_month, now_day))
print('생년 월일 :  %d년 %d월 %d일' %(birth_year, birth_month, birth_day))
print('-' * 50)
print('만 나이 : %d세' %age)
print('-' * 50)

현재년을 입력해 주세요 : 2021
현재월을 입력해 주세요 : 10
현재일을 입력해 주세요 : 21
출생년을 입력해 주세요 : 1980
출생월을 입력해 주세요 : 1
출생일을 입력해 주세요 : 1
--------------------------------------------------
오늘 날짜 :  2021년 10월 21일
생년 월일 :  1980년 1월 1일
--------------------------------------------------
만 나이 : 41세
--------------------------------------------------

###**PDF 137, 1일차 과제 : 4번 ~ 6번 문제**

**문제 4.** <br>
물의 섭씨 또는 화씨 온도를 입력받아 섭씨 온도와 물의 상태를 판별하는 프로그램을 작성하시오 <br>단, 화씨 온도가 입력될 경우에는 섭씨 온도로 변환한다.<br>

* 힌트 : 섭씨 = (회씨 - 32) * 5 / 9

**실행 결과**

* 단위를 입력하세요(1:섭씨, 2:화씨): 2
* 온도를 입력하세요: 80
* 물의 섭씨 온도 : 26.67, 상태:액체

**문제 5.** <br>
아이디를 입력받아 아이디가 'admin'이면 '모든 컨텐츠 이용 가능'을 출력하고 프로그램을 종료한다.<br> 아이디가 'admin'이 아니면 회원 레벨을 입력받아 회원 레벨이 2~7이면 '일부 컨텐츠 이용 가능'을 출력하고, 그렇지 않으면 '콘텐츠 이용 불가'를 출력하는 프로그램을 작성하시오.

**실행 결과**

* 아이디를 입력하세요 : rubato
* 회원 레벨을 입력해 주세요 : 3
* 일부 컨텐츠 이용 가능

**문제 6.** <br>
나이를 입력받아 입장료를 계산하는 프로그램을 작성하시오.<br> 단, 10세 이하의 입장료는 1000원, 65세 이상의 입장료는 0원, 기본 입장료는 2000원이다.

**실행 결과**

* 나이를 입력하세요 : 6
* 입장료는 1000원 입니다.

**문제 7.** <br>
영어와 수학이 모두 80점 이상이면 '합격', 영어와 수학이 모두 80점 미만이면 '불합격', 두 시험 중 한 과목이 80점 이상이면 '재시험 기회제공'의 메시지를 출력하는 프로그램을 작성하시오.

**실행 결과**

* 영어시험 점수를 입력하세요 : 85
* 수학시험 점수를 입력하세요 : 75
* 재시험 기회제공