<a href="https://colab.research.google.com/github/sdw1621/hanhwagroup/blob/main/211021_CH04_%ED%95%9C%ED%99%94_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **예제 4-1. for문으로 출력하기**

In [ ]:
for x in range(5):
  print("안녕하세요.")

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

###**예제 4-2 while문으로 반복 출력하기**

In [ ]:
x = 0

while x < 5:
  print("안녕하세요")
  x = x + 1

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

###**예제 4-3 1~10의 합계(for문)**

In [1]:
sum = 0

for i in range(1, 11):
  sum = sum + i
  print('i의 값:%d, 합계:%d'%(i, sum))

i의 값:1, 합계:1
i의 값:2, 합계:3
i의 값:3, 합계:6
i의 값:4, 합계:10
i의 값:5, 합계:15
i의 값:6, 합계:21
i의 값:7, 합계:28
i의 값:8, 합계:36
i의 값:9, 합계:45
i의 값:10, 합계:55

###**예제 4-4 range() 함수의 활용**

In [3]:
for i in range(10):
  print(i, end = ' ')
print()

0 1 2 3 4 5 6 7 8 9

In [4]:
for i in range(1, 11):
  print(i, end = ' ')
print()

1 2 3 4 5 6 7 8 9 10

In [5]:
for i in range(1, 10, 2):
  print(i, end = ' ')
print()

1 3 5 7 9

In [6]:
for i in range(20, 0, -2):
  print(i, end = ' ')

20 18 16 14 12 10 8 6 4 2

###**예제 4-5, 3의 배수의 합계**

In [7]:
sum = 0

for i in range(1, 101):
  if i % 3 == 0:
    print('%d' %i, end = ' ')
    sum = sum + i

print('\n','-'*50)
print('1~100에서 3의 배수의 합계 : %d'%sum)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1~100에서 3의 배수의 합계 : 1683

###**예제 4-6 문자열 세로 출력**

In [8]:
word = input('영어 문장을 입력하세요 : ')

for x in word:
  print(x)

영어 문장을 입력하세요 : i see!
i

s
e
e
!

###**예제 4-7 섭씨 온도를 화씨로 변환**

In [9]:
print('-' * 30)
print('   섭씨   화씨')
print('-' * 30)

for c in range(-20, 31, 5):
  f = c * 9.0/5.0+32.0
  print('%8d %6.1f' %(c, f))

print('-' * 30)

------------------------------
   섭씨   화씨
------------------------------
     -20   -4.0
     -15    5.0
     -10   14.0
      -5   23.0
       0   32.0
       5   41.0
      10   50.0
      15   59.0
      20   68.0
      25   77.0
      30   86.0
------------------------------

###**PDF 151, Q4-1 코딩 연습 : 5의 배수가 아닌 수의 합계 구하기**

In [11]:
# 키보드의 정수 범위의 시작 수와 끝 수를 입력받아 : input() 함수
n1 = int(input('시작 수를 입력하세요 :'))
n2 = int(input('끝 수를 입력하세요 :'))

sum = 0

for i in range(n1, n2):
  # 5의 배수가 아닌 수
  if i % 5 != 0:
    # 합계
    sum = sum + i

print('-'*50)
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d' %(n1, n2, sum))

시작 수를 입력하세요 :100
끝 수를 입력하세요 :200
--------------------------------------------------
100에서 200까지 5의 배수가 아닌 수의 합계 : 12000

###**PDF 152, Q4-2 코딩 연습 : 전화번호에서 하이픈(-) 삭제하기**

In [17]:
# 하이픈이 포함된 휴대폰 번호 입력
number = input('하이픈(-)를 포함한 휴대폰 번호를 입력하세요: ')

for x in number:
  if x != '-':
    # print(x)
    print('%s' %x, end='')

하이픈(-)를 포함한 휴대폰 번호를 입력하세요: 010-2731-2579
01027312579

In [20]:
# 하이픈이 포함된 휴대폰 번호 입력
number = input('휴대폰 번호를 입력하세요: ')

for x in number:
  remove_x = x.replace("-","") # 숫자 or '-' 한 개씩을 가져다 -가 있으면 없애기
  print(remove_x, end='') # 따로 떨어진 숫자를 한 줄에 합치기

휴대폰 번호를 입력하세요: 010-2731-2579
01027312579

###**PDF 153, Q4-3 코딩 연습 : 전화번호에 하이픈(-) 추가하기**

In [21]:
phone = input('하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요:')

number = ''

for i in range(0, len(phone)):
  if i == 2:
    number = number + (phone[2] + '-')
  elif i == 6:
    number = number + (phone[6] + '-')
  else:
    number = number + phone[i]

print(number)

하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요:01027312579
010-2731-2579

###**PDF 154, Q4-4 코딩 연습 : 길이 단위 환산표 만들기**

In [22]:
print('-'*50)
print('센티미터(cm) 인치(inch)')
print('-'*50)

for cm in range(10,201,10):
  inch = cm * 0.393701
  print('%8d %10.1f'%(cm, inch))

print('-'*50)

--------------------------------------------------
센티미터(cm) 인치(inch)
--------------------------------------------------
      10        3.9
      20        7.9
      30       11.8
      40       15.7
      50       19.7
      60       23.6
      70       27.6
      80       31.5
      90       35.4
     100       39.4
     110       43.3
     120       47.2
     130       51.2
     140       55.1
     150       59.1
     160       63.0
     170       66.9
     180       70.9
     190       74.8
     200       78.7
--------------------------------------------------

###**PDF 155, Q4-5 코딩 연습 : 무게 단위 환산표 만들기**

In [23]:
print('-'*40)
print('킬로그램(kg) 파운드(lb)')
print('-'*40)

for kg in range(10,101,5):
  lb = kg * 2.204623
  print('%8d %10.1f'%(kg, lb))

print('-'*40)

----------------------------------------
킬로그램(kg) 파운드(lb)
----------------------------------------
      10       22.0
      15       33.1
      20       44.1
      25       55.1
      30       66.1
      35       77.2
      40       88.2
      45       99.2
      50      110.2
      55      121.3
      60      132.3
      65      143.3
      70      154.3
      75      165.3
      80      176.4
      85      187.4
      90      198.4
      95      209.4
     100      220.5
----------------------------------------

###**PDF 156, Q4-6 코딩 연습 : 홀수 개수 세기**

In [25]:
number = input('숫자를 입력하세요:')

total = 0

for a in number:
  a = int(a)
  if a % 2 == 1:
    total = total + 1

print('입력된 숫자 중 홀수의 개수 :  %d개' %total)

숫자를 입력하세요:3049894
입력된 숫자 중 홀수의 개수 :  3개

###**예제 4-8 구구단표 만들기**

In [26]:
a = 2

for b in range(1, 10):
  c = a * b
  print('%d x %d = %d' %(a,b,c))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

###**예제 4-9 전체 구구단표 만들기**

In [27]:
print('-' * 50)

for a in range(2, 10):
  for b in range(1, 10):
    c = a * b
    print('%d x %d = %d' %(a,b,c))
  
  print('-' * 50)

--------------------------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------------------------------------

###**PDF 160, Q4-7 코딩 연습 : 별표(*)로 특정 형태 만들기1**

In [29]:
for i in range(1, 11):
  for j in range(1, i):
    print('*', end = '')
  print()

*
**
***
****
*****
******
*******
********
*********

###**PDF 160, Q4-8 코딩 연습 : 별표(*)로 특정 형태 만들기2**

In [31]:
for i in range(1, 11):
  for j in range(1, 10-i+1):
    print(' ', end='')
  for k in range(1, i+1):
    print('*', end='')
  print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

###**예제 4-10 1~10의 합계(while문)**

In [33]:
sum = 0
i = 1

while i <= 10:
  sum = sum + i
  print("i의 값 : %d => 합계 : %d" %(i, sum))
  i = i + 1

i의 값 : 1 => 합계 : 1
i의 값 : 2 => 합계 : 3
i의 값 : 3 => 합계 : 6
i의 값 : 4 => 합계 : 10
i의 값 : 5 => 합계 : 15
i의 값 : 6 => 합계 : 21
i의 값 : 7 => 합계 : 28
i의 값 : 8 => 합계 : 36
i의 값 : 9 => 합계 : 45
i의 값 : 10 => 합계 : 55

###**예제 4-11 배수의 합계 구하기(while문)**

In [34]:
n1 = int(input('첫 수를 입력하세요 :'))
n2 = int(input('끝 수를 입력하세요 :'))
n = int(input('합계를 구하고자 하는 배수를 입력하세요 :'))

sum = 0
i = n1
while i < n2 + 1:
  if i % n == 0:
    sum = sum + i

  i = i + 1

print('%d~%d까지의 정수 중 %d의 배수의 합계 : %d' %(n1,n2,n,sum))

첫 수를 입력하세요 :100
끝 수를 입력하세요 :300
합계를 구하고자 하는 배수를 입력하세요 :5
100~300까지의 정수 중 5의 배수의 합계 : 8200

###**PDF 166, Q4-9 코딩 연습 : 섭씨/화씨 환산표 만들기(while문)**

In [35]:
print('-'*30)
print('   섭씨   화씨')
print('-'*30)

c = -20
while c < 41:
  f = c * 9.0 / 5.0 + 32.0
  print('%8d %8.1f' %(c, f))

  c = c + 1
  
print('-'*30)

------------------------------
   섭씨   화씨
------------------------------
     -20     -4.0
     -19     -2.2
     -18     -0.4
     -17      1.4
     -16      3.2
     -15      5.0
     -14      6.8
     -13      8.6
     -12     10.4
     -11     12.2
     -10     14.0
      -9     15.8
      -8     17.6
      -7     19.4
      -6     21.2
      -5     23.0
      -4     24.8
      -3     26.6
      -2     28.4
      -1     30.2
       0     32.0
       1     33.8
       2     35.6
       3     37.4
       4     39.2
       5     41.0
       6     42.8
       7     44.6
       8     46.4
       9     48.2
      10     50.0
      11     51.8
      12     53.6
      13     55.4
      14     57.2
      15     59.0
      16     60.8
      17     62.6
      18     64.4
      19     66.2
      20     68.0
      21     69.8
      22     71.6
      23     73.4
      24     75.2
      25     77.0
      26     78.8
      27     80.6
      28     82.4
      29     84.2
      30     86.0
      31     87.8
      32     89.6
      33     91.4
      34     93.2
      35     95.0
      36     96.8
      37     98.6
      38    100.4
      39    102.2
      40    104.0
------------------------------

###**PDF 167, Q4-10 코딩 연습 : 3의 배수가 아닌 수 출력하기(while문)**

In [43]:
i = 200
count = 0
while i < 601:
  if i % 3 != 0:
    print('%d ' %i, end = '')
    count = count + 1

    if count % 8 == 0:
      print()
  i = i + 1

200 202 203 205 206 208 209 211
212 214 215 217 218 220 221 223
224 226 227 229 230 232 233 235
236 238 239 241 242 244 245 247
248 250 251 253 254 256 257 259
260 262 263 265 266 268 269 271
272 274 275 277 278 280 281 283
284 286 287 289 290 292 293 295
296 298 299 301 302 304 305 307
308 310 311 313 314 316 317 319
320 322 323 325 326 328 329 331
332 334 335 337 338 340 341 343
344 346 347 349 350 352 353 355
356 358 359 361 362 364 365 367
368 370 371 373 374 376 377 379
380 382 383 385 386 388 389 391
392 394 395 397 398 400 401 403
404 406 407 409 410 412 413 415
416 418 419 421 422 424 425 427
428 430 431 433 434 436 437 439
440 442 443 445 446 448 449 451
452 454 455 457 458 460 461 463
464 466 467 469 470 472 473 475
476 478 479 481 482 484 485 487
488 490 491 493 494 496 497 499
500 502 503 505 506 508 509 511
512 514 515 517 518 520 521 523
524 526 527 529 530 532 533 535
536 538 539 541 542 544 545 547
548 550 551 553 554 556 557 559
560 562 563 565 566 568 569 571
572 574 575 577 578 580 581 583
584 586 587 589 590 592 593 595
596 598 599

###**PDF 167, Q4-10 코딩 연습 : 3의 배수가 아닌 수 출력하기(while문)**

###**예제 4-12 영어 모음과 개수 구하기**

In [45]:
s = input('영어 문장을 입력하세요: ')

i = 0
count = 0

print('모음: ', end = '')

while i <= len(s)-1:
  if (s[i] == 'a' or s[i] == 'A' or s[i] == 'e' or s[i] == 'E' \
      or s[i] == 'i' or s[i] == 'I' or s[i] == 'o' or s[i] == 'O' \
      or s[i] == 'u' or s[i] == 'U'):
    count = count + 1
    print(s[i], end = '')
  i = i + 1

print('\n모음의 개수:%d'%count)

영어 문장을 입력하세요: We are the champion
모음: eaeeaio
모음의 개수:7

###**PDF 170, Q4-11 코딩 연습 : 문장 역순으로 출력하기(while문)**

In [49]:
sentence = input('문장을 입력해 주세요:')

i = len(sentence) - 1

while i >= 0:
  if sentence[i] == '':
    print('-', end='')
  else:
    print('%s' %sentence[i], end='')

  i = i - 1

문장을 입력해 주세요:쥐 구멍에도 볕 뜰 날 있다
다있 날 뜰 볕 도에멍구 쥐

###**예제 4-13 break 문으로 반복 루프 빠져나가기**

In [50]:
for i in range(1,1001):
  print(i)

  if i == 10:
    break

1
2
3
4
5
6
7
8
9
10

###**PDF 174, 2일차 과제 : 6번, 9번, 12번 문제**

[연습문제 정답 링크]

https://drive.google.com/drive/folders/1aCXuzgSV9HmF1ksjcRKZMugl6EWk61HP