<a href="https://colab.research.google.com/github/sdw1621/hanhwagroup/blob/main/%EC%99%95%EC%B4%88%EB%B3%B4_%ED%8C%8C%EC%9D%B4%EC%8D%AC_2%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 점프 투 파이썬 02장 

파이썬 프로그래밍 기초, 자료형, 연습 문제

**Q2**

In [ ]:
# 13 입력
num = int(input("숫자를 입력해주세요 : "))

if num % 2 == 0:
  print("짝수입니다.")
else:
  print("홀수입니다.")

숫자를 입력해주세요 : 13
홀수입니다.

### 점프 투 파이썬 02장 

파이썬 프로그래밍 기초, 자료형, 연습 문제

**Q3**

In [ ]:
# 881120-1068234 입력
jumin_num = input("주민등록번호를 입력하세요 : ")

first_position = jumin_num[:6]
print(first_position)        # 881120 출력

second_position = jumin_num[7:]
print(second_position)       # 1068234 출력

주민등록번호를 입력하세요 : 881120-1068234
881120
1068234

### 점프 투 파이썬 02장 

파이썬 프로그래밍 기초, 자료형, 연습 문제

**Q4**

In [ ]:
pin = "881120-1068234"

print(pin[7])
print(type(pin[7]))
second_position_0 = int(pin[7])
print(type(second_position_0))

if second_position_0 % 2 == 0:
  print("여자")
else:
  print("남자")

1
<class 'str'>
<class 'int'>
남자

### 점프 투 파이썬 03장 

 프로그램의 구조를 쌓는다! 제어문, 연습 문제

**Q1**

In [ ]:
a = "Life is too short, you need python"

if "wife" in a:
  print("wife")
elif "python" in a and "you" not in a:
  print("python")
elif "shirt" not in a:
  print("shirt")
elif "need" in a:
  print("need")
else:
  print("none")

shirt

### 점프 투 파이썬 03장 

 프로그램의 구조를 쌓는다! 제어문, 연습 문제

**Q5**

In [ ]:
# for문

# for 값1개 in 값 여러개:
#   실행구문

# 리스트 : 값을 여러 개를 가지는 데이터형
mid_jumsus = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
# print(mid_jumsus)

total = 0
# total = ""
# total = []

for mid_jumsu in mid_jumsus:
  # print(mid_jumsu)
  total = total + mid_jumsu
  print(total)
  # total += mid_jumsu
  # 1회 70 = 0+70
  # 2회 130 = 70+60
  # 3회 185 = 130+55
  # ...
  # 10회 790

 # A 학급의 평균 점수
#  평균 = 전체 점수 덧셈 / 학생수

#  전체 점수 덧셈 = 70 + 60 + 55 +... + 100 = 790
#  학생수 = 10명

# 79 =  790 / 10

print(len(mid_jumsus))

70
130
185
260
355
445
525
605
690
790
10

In [ ]:
mid_jumsus = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

total = 0

for mid_jumsu in mid_jumsus:
  total = total + mid_jumsu

# print(total)
# print(len(mid_jumsus))

average = total / len(mid_jumsus)
print(average)

79.0

### Page 5. 리스트 생성

In [ ]:
names = ["신동욱", "이동건", "신동욱"]

names[0]
names[2]

In [ ]:
names = ["신동욱", 1, True]

print(names)

# C, Java
# int a = [1, 2, 3, 4, 5]

['신동욱', 1, True]

In [ ]:
my_list = []

my_list = ['I love you', 2, 34.244, ['a','b','c', 1123], 2, '갈비탕']

print(my_list)

['I love you', 2, 34.244, ['a', 'b', 'c', 1123], 2, '갈비탕']

In [ ]:
print(my_list[0])

I love you

In [ ]:
print(my_list[3])

['a', 'b', 'c', 1123]

In [ ]:
print(my_list[3][3])

1123

In [ ]:
print(my_list[3][1])

b

### Page 7. 요소 추가 생성

In [ ]:
# append
# ap = after(뒤)
# pend = 붙이다.
# 뒤에 붙이다.

my_list = ['I love you', 2, 34.244, ['a','b','c', 1123], 2, '갈비탕']

my_list.append(123)

print(my_list)

['I love you', 2, 34.244, ['a', 'b', 'c', 1123], 2, '갈비탕', 123]

In [ ]:
customer_names =["신동욱", "이동건", "이동욱"]

customer_names.append("고소영")

print(customer_names)

['신동욱', '이동건', '이동욱', '고소영']

### Page 9. 리스트의 덧셈과 반복

In [ ]:
# 리스트와 리스트 더하기

my_list1 = [1,2,3,4,5]
my_list2 = [6,7,8,9,10]

my_list3 = my_list1 + my_list2
print(my_list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 리스트에 정수를 곱하기 (리스트 반복)
my_list4 = my_list1 * 3
print(my_list4)

# "신동욱" * 2
# "=" * 30

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
my_list1 = [1,2,3,4,5]
len_of_list1 = len(my_list1)
print(len_of_list1)

5

In [ ]:
# 리스트 정렬
# https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%ED%95%AD%EB%AA%A9-%EC%A0%95%EB%A0%AC%ED%95%98%EA%B8%B0-sorted-sort-reverse

### Page 13. 메뉴 리스트 동적으로 생성하기

In [ ]:
menus = list()
# menus = []
print(menus)

[]

In [ ]:
menus.append("갈비탕")
print(menus)

['갈비탕']

In [ ]:
# 동적(menus 변수 처음 만들 때는 없다가 코드짜면서 추가)
menus.append("떡볶이")
menus.append("오뎅")
menus.append("감자탕")
menus.append("김치찌게")
menus.append("제육볶음")
menus.append("김치볶음밥")

print(menus)

['갈비탕', '떡볶이', '오뎅', '감자탕', '김치찌게', '제육볶음', '김치볶음밥']

In [ ]:
# 정적(prices 변수 선언하자마자 값을 넣어둠)
prices = [10000, 7000, 5000, 8000, 8000, 7000, 5000]
print(prices)

[10000, 7000, 5000, 8000, 8000, 7000, 5000]

### Page 13. 메뉴 리스트 동적으로 생성하기

In [2]:
menus = list()
# menus = []
print(menus)

[]

In [3]:
menus.append("갈비탕")
print(menus)

['갈비탕']

In [4]:
# 동적(menus 변수 처음 만들 때는 없다가 코드짜면서 추가)
menus.append("떡볶이")
menus.append("오뎅")
menus.append("감자탕")
menus.append("김치찌게")
menus.append("제육볶음")
menus.append("김치볶음밥")

print(menus)

['갈비탕', '떡볶이', '오뎅', '감자탕', '김치찌게', '제육볶음', '김치볶음밥']

In [5]:
# 정적(prices 변수 선언하자마자 값을 넣어둠)
prices = [10000, 7000, 5000, 8000, 8000, 7000, 5000]
print(prices)

[10000, 7000, 5000, 8000, 8000, 7000, 5000]

In [6]:
print("""
메뉴판
==============================
{0:<10}{1:>10}{won}
{2:<10}{3:>10}{won}
{4:<10}{5:>10}{won}
{6:<10}{7:>10}{won}
{8:<10}{9:>10}{won}
{10:<10}{11:>10}{won}
{12:<10}{13:>10}{won}
==============================
""".format(menus[0], prices[0],
           menus[1], prices[1],
           menus[2], prices[2],
           menus[3], prices[3],
           menus[4], prices[4],
           menus[5], prices[5],
           menus[6], prices[6],won="원"))

메뉴판
==============================
갈비탕            10000원
떡볶이             7000원
오뎅              5000원
감자탕             8000원
김치찌게            8000원
제육볶음            7000원
김치볶음밥           5000원
==============================

In [9]:
equal_many = "="*30
# print(equal_many)
won="원"

print(f""" 
메뉴판
{equal_many}
{menus[0]:<10}{prices[0]:>15}{won}
{menus[1]:<10}{prices[1]:>15}{won}
{menus[2]:<10}{prices[2]:>16}{won}
{menus[3]:<10}{prices[3]:>15}{won}
{menus[4]:<10}{prices[4]:>14}{won}
{menus[5]:<10}{prices[5]:>14}{won}
{menus[6]:<10}{prices[6]:>13}{won}
{equal_many}
""")

메뉴판
==============================
갈비탕                 10000원
떡볶이                  7000원
오뎅                    5000원
감자탕                  8000원
김치찌게                8000원
제육볶음                7000원
김치볶음밥              5000원
==============================

In [ ]:
print("""
메뉴판
==============================
{0:<10}{1:>10}{won}
{2:<10}{3:>10}{won}
{4:<10}{5:>10}{won}
{6:<10}{7:>10}{won}
{8:<10}{9:>10}{won}
{10:<10}{11:>10}{won}
{12:<10}{13:>10}{won}
==============================
""".format(menus[0], prices[0],
           menus[1], prices[1],
           menus[2], prices[2],
           menus[3], prices[3],
           menus[4], prices[4],
           menus[5], prices[5],
           menus[6], prices[6],won="원"))

import random # random 패키지 가지고 오다. 코랩으로 (외부 패키지)

choice = random.randrange(0, len(menus)) # 0~6, 7개
print(f"오늘의 메뉴 선택 : {menus[choice]}")
print(f"메뉴의 가격 : {prices[choice]}")

메뉴판
==============================
갈비탕            10000원
떡볶이             7000원
오뎅              5000원
감자탕             8000원
김치찌게            8000원
제육볶음            7000원
김치볶음밥           5000원
==============================

오늘의 메뉴 선택 : 김치찌게
메뉴의 가격 : 8000

In [ ]:
len(menus)

7

In [ ]:
print(menus[0])

갈비탕

In [ ]:
!pip install 패키지명

!pip install pandas

! : 셀에서 pip 명령어를 실행하기 위한 편의 코드

pip : python install package

install : 설치

pandas : 패키지명

!pip install random

import random

random.randrange(0, len(menus))

In [ ]:
import random

num = random.randrange(1,10)

print(num)

9

### Page 22. randint(a,b)

In [ ]:
import random

num = random.randint(1,10)
print(num)

5

In [ ]:
import random

my_list = [1,2,3,4,5]

random.shuffle(my_list)

print(my_list)

[2, 5, 1, 3, 4]

In [ ]:
import random

my_list = [1,2,3,4,5]

result = random.choice(my_list)

print(result)

4

### Page 27. txt파일 다루기

In [ ]:
f = open('test.txt','w')

In [ ]:
f = open('test.txt','w')

f.write("신동욱")

f.close()

In [ ]:
f = open('test_append.txt','a')

f.write("hello world!")

f.close()

In [ ]:
f = open('test.txt','r')

lines = f.readlines()

for line in lines:
  print(line)

f.close()

신동욱

강사님

In [ ]:
f = open('test.txt','r')

line = f.readline()

print(line)

f.close()

신동욱

In [ ]:
f = open('test.txt','r')

lines = f.readlines()

print(lines[0])

f.close()

신동욱

### Page 42 csv 파일 읽기1

In [ ]:
import csv

f = open('csv_sample.csv','r')
rdr = csv.reader(f)

# print(rdr[0]) # error

for line in rdr:
  print(line)

['1', ' 신동욱', ' 40']
['2', ' 한화', ' 70']

In [ ]:
import csv

f = open('csv_sample.csv','r')
rdr = csv.reader(f)

for line in rdr:
  print(line[1])

 신동욱
 한화

### Page 44 csv 파일 쓰기

In [ ]:
import csv

f = open('write.csv','w')

wr = csv.writer(f)

wr.writerow([1,'한한화','서울'])

wr.writerow([2,'신동욱','경기'])

f.close()

In [ ]:
f = open('write.csv','a', newline='')

wr = csv.writer(f)

wr.writerow([3,'한생명','서울'])

f.close()

In [ ]:
f = open('write.csv','r')

rdr = csv.reader(f)

for line in rdr:
  print(line)

['1', '한한화', '서울']
['2', '신동욱', '경기']
['3', '한생명', '서울']

### Page 48. 엑셀 파일 다루기

In [ ]:
import openpyxl

wb = openpyxl.Workbook()

wb.save('test.xlsx')

### Page 49. 엑셀 파일 다루기 - 시트 조작

In [ ]:
import openpyxl

wb = openpyxl.Workbook()

sheet = wb.active

### Page 50. 새 시트 만들기

In [ ]:
import openpyxl

wb = openpyxl.Workbook()

sheet2 = wb.create_sheet('두번째 시트')

wb.save('test.xlsx')

### Page 51. 시트 불러오기

In [ ]:
sheet2 = wb['두번째 시트']

sheet2.title = '수집 데이터'

wb.save('test.xlsx')

### Page 53. 셀 조작

In [ ]:
import openpyxl

wb = openpyxl.Workbook()

sheet = wb.active

sheet['B2'] = 'b2'

sheet.cell(row=3, column=3).value = '3, 3'

sheet.append([1,2,3,4,5])

wb.save('test2.xlsx')

In [ ]:
import openpyxl

wb = openpyxl.Workbook()

sheet = wb.active

sheet['A1'] = 'hello world!'
sheet['B1'] = 'hello world!'
sheet['C1'] = 'hello world!'
sheet['D1'] = 'hello world!'
sheet['E1'] = 'hello world!'

wb.save('test3.xlsx')

In [ ]:
import openpyxl

wb = openpyxl.Workbook()
sheet = wb.active

for a in range(0, 5):
  sheet.cell(row=1, column=a+1).value= 'hello world!'

wb.save('test4.xlsx')

In [ ]:
import openpyxl

wb = openpyxl.Workbook()
sheet = wb.active

for a in range(0, 5):
  sheet.cell(row=a+1, column=1).value= 'hello world!'

wb.save('test4_1.xlsx')

### Page 60. 전체적인 사용 예시

In [ ]:
import openpyxl

wb = openpyxl.Workbook()
sheet1 = wb['Sheet1']
sheet1.title = '수집 데이터'

sheet2 = wb.create_sheet('정리 결과')
sheet2.cell(row=1, column=1).value = '두번째 시트'

sheet1.append(['아이디','이름', '나이', '사는곳'])
sheet1.append(['sdw1904','신동욱', 40, '경기도'])

wb.save('test5.xlsx')

In [ ]:
import openpyxl

wb = openpyxl.load_workbook('test2.xlsx')

sheet1 = wb.active

sheet1.title = "이름 변경"
sheet1.append(range(10))

wb.save('test2.xlsx')

### 구글 코랩 - 구글 드라이브 연동

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('/content/drive/MyDrive/0_한화/part3/auto-mpg.csv',header=None)
print(df)

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [ ]:
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_excel('/content/drive/MyDrive/0_한화/part4/남북한발전전력량.xlsx')
print(df)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  ...  2011  2012  2013  2014  2015  2016
0        남한     합계  1077  1186  1310  1444  ...  4969  5096  5171  5220  5281  5404
1       NaN     수력    64    51    49    60  ...    78    77    84    78    58    66
2       NaN     화력   484   573   696   803  ...  3343  3430  3581  3427  3402  3523
3       NaN    원자력   529   563   565   581  ...  1547  1503  1388  1564  1648  1620
4       NaN    신재생     -     -     -     -  ...     -    86   118   151   173   195
5        북한     합계   277   263   247   221  ...   211   215   221   216   190   239
6       NaN     수력   156   150   142   133  ...   132   135   139   130   100   128
7       NaN     화력   121   113   105    88  ...    79    80    82    86    90   111
8       NaN    원자력     -     -     -     -  ...     -     -     -     -     -     -

[9 rows x 29 columns]