<a href="https://colab.research.google.com/github/sdw1621/hanhwagroup/blob/main/%EC%99%95%EC%B4%88%EB%B3%B4_%ED%8C%8C%EC%9D%B4%EC%8D%AC_1%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("Hello World!)

SyntaxError: ignored

In [ ]:
print("점심 추천기 프로그램입니다!")

점심 추천기 프로그램입니다!

In [ ]:
# \n : new line, "문자열"
print("점심 추천기 프로그램입니다!\n")
print("메뉴판\n")

점심 추천기 프로그램입니다!

메뉴판

In [ ]:
print("==============================")

==============================

In [ ]:
# 파이썬 문자열*숫자 : 반복
print("="*30)

==============================

In [ ]:
# 본인의 이름을 2번 반복해보세요
print("신동욱"*2)

신동욱신동욱

In [ ]:
print("갈비탕          10000원")

갈비탕          10000원

In [ ]:
print("갈비탕\t\t\t10000원")
print("떡볶이\t\t\t7000원")
print("오뎅\t\t\t5000원")
print("감자탕\t\t\t8000원")
print("김치찌게\t\t8000원")
print("제육볶음\t\t7000원")
print("김치볶음밥\t\t5000원")

갈비탕			10000원
떡볶이			7000원
오뎅			5000원
감자탕			8000원
김치찌게		8000원
제육볶음		7000원
김치볶음밥		5000원

### 점심 메뉴 전체 프로그램

In [ ]:
print("점심 추천 프로그램입니다!\n")
print("메뉴판")

print("="*30)

print("갈비탕\t\t\t10000원")
print("떡볶이\t\t\t7000원")
print("오뎅\t\t\t5000원")
print("감자탕\t\t\t8000원")
print("김치찌게\t\t8000원")
print("제육볶음\t\t7000원")
print("김치볶음밥\t\t5000원")

print("="*30)

점심 추천 프로그램입니다!

메뉴판
==============================
갈비탕			10000원
떡볶이			7000원
오뎅			5000원
감자탕			8000원
김치찌게		8000원
제육볶음		7000원
김치볶음밥		5000원
==============================

In [ ]:
print(" \'single quote\' ")

 'single quote'

In [ ]:
print(' \"double quote\" ')

 "double quote"

In [ ]:
print('''
I love you
      so so so much
but miss you~ bye~!
''')

I love you
      so so so much
but miss you~ bye~!

In [ ]:
print(""" 
I love you
      so so so much
but miss you~ bye~!
""")

I love you
      so so so much
but miss you~ bye~!

In [ ]:
print("신동욱 강사님\n이런식으로 써볼께요")

신동욱 강사님
이런식으로 써볼께요

In [ ]:
print(" I love {0}".format("신동욱"))

 I love 신동욱

In [ ]:
print( "I love {0}".format("신동욱"))

I love 신동욱

In [ ]:
# 파이썬 자리가 0부터 시작함
# 자리 {0}, {1} / 데이터 "신동욱", "힌화" : 갯수가 같아야 에러나지 않음
# print( "I love {0}, you love {1}".format("신동욱","한화"))
print( "I love {}, you love {}".format("신동욱","한화"))

I love 신동욱, you love 한화

In [ ]:
# 파이썬 3.7 버전부터 format 함수를 f-string 으로 발전

name = "조민정"
company = "한화"

print(f"I love {name}, you love {company}")

I love 조민정, you love 한화

In [ ]:
print("you give me {gift}, he loves {gift}".format(gift="shoes"))

you give me shoes, he loves shoes

In [ ]:
print("{0:10}aaa".format("hi"))
# print("{0}".format("hi"))

hi        aaa

In [ ]:
print("{0:<10}aaa".format("hi"))

hi        aaa

In [ ]:
print("{0:>10}aaa".format("hi"))

        hiaaa

In [ ]:
print("{0:^10}aaa".format("hi"))

    hi    aaa

In [ ]:
print("{0:!<10}aaa".format("hi"))

hi!!!!!!!!aaa

In [ ]:
print("{0:0>6}".format(1))

000001

In [ ]:
print("{0:0>6}".format(10))

000010

### Page 14 메뉴판 그리기

In [ ]:
print("점심 추천기 프로그램입니다.")

점심 추천기 프로그램입니다.

In [ ]:
print("메뉴판")

메뉴판

In [ ]:
print("="*30)

==============================

In [ ]:
print("{0:<10}{1:>10}{won}".format('갈비탕',10000, won="원"))

갈비탕            10000원

In [ ]:
print(""" 
메뉴판
==============================
{0:<10}{1:>10}{won}
{2:<10}{3:>10}{won}
{4:<10}{5:>10}{won}
{6:<10}{7:>10}{won}
{8:<10}{9:>10}{won}
{10:<10}{11:>10}{won}
{12:<10}{13:>10}{won}
==============================
""".format('갈비탕',10000,
           '떡볶이',7000,
           '오뎅',5000,
           '감자탕',8000,
           '김치찌게',8000,
           '제육볶음',7000,
           '김치볶음밥',5000,won="원"))

메뉴판
==============================
갈비탕            10000원
떡볶이             7000원
오뎅              5000원
감자탕             8000원
김치찌게            8000원
제육볶음            7000원
김치볶음밥           5000원
==============================

In [ ]:
# f-string으로 해보기~!
print(""" 
메뉴판
==============================
{0:<10}{1:>10}{won}
{2:<10}{3:>10}{won}
{4:<10}{5:>10}{won}
{6:<10}{7:>10}{won}
{8:<10}{9:>10}{won}
{10:<10}{11:>10}{won}
{12:<10}{13:>10}{won}
==============================
""".format('갈비탕',10000,
           '떡볶이',7000,
           '오뎅',5000,
           '감자탕',8000,
           '김치찌게',8000,
           '제육볶음',7000,
           '김치볶음밥',5000,won="원"))

메뉴판
==============================
갈비탕            10000원
떡볶이             7000원
오뎅              5000원
감자탕             8000원
김치찌게            8000원
제육볶음            7000원
김치볶음밥           5000원
==============================

In [ ]:
print("="*30)

==============================

### **Page 15 급여 계산기 만들기**

In [ ]:
pay = 7000
time_of_day = 8
day_of_month = 19

print(pay)
print(time_of_day)
print(day_of_month)

7000
8
19

In [ ]:
# 문자열 * 숫자 : 반복
print("="*30)

==============================

In [ ]:
# 숫자 * 숫자 : 곱셉
print(7000*3)

21000

In [ ]:
print(pay*time_of_day*day_of_month)

1064000

In [ ]:
# profit : 월급
profit = pay*time_of_day*day_of_month
print(profit)

1064000

In [ ]:
print("급여 계산기 프로그램입니다.")

pay = 7000
time_of_day = 8
day_of_month = 19

# 월급 계산
profit = pay * time_of_day * day_of_month

# 결과 출력
print(f"예상 월급은 : {profit}원 입니다.")
print(f"{profit}원으로 무엇을 할 수 있을까요?")
# 나눈 몫만 가져올 때 //
print(f"PC방 (1200원 기준) : {profit / 1200}시간")
print(f"점심 (7000원 기준) : {profit // 7000}끼")
print(f"영화 (11000원 기준) : {profit // 11000}편")
print(f"노래방 (20000원 기준) : {profit // 20000}시간")

급여 계산기 프로그램입니다.
예상 월급은 : 1064000원 입니다.
1064000원으로 무엇을 할 수 있을까요?
PC방 (1200원 기준) : 886.6666666666666시간
점심 (7000원 기준) : 152끼
영화 (11000원 기준) : 96편
노래방 (20000원 기준) : 53시간

In [ ]:
print("급여 계산기 프로그램입니다.")

pay = input("시급을 입력해주세요 : ")
time_of_day = input("일일근무시간 : ")
day_of_month = input("한달근무일수 : ")

# 형 변환
pay = int(pay)
time_of_day = int(time_of_day)
day_of_month = int(day_of_month)

# 월급 계산
profit = pay * time_of_day * day_of_month

# 결과 출력
print(f"예상 월급은 : {profit}원 입니다.")
print(f"{profit}원으로 무엇을 할 수 있을까요?")
# 나눈 몫만 가져올 때 //
print(f"PC방 (1200원 기준) : {profit / 1200}시간")
print(f"점심 (7000원 기준) : {profit // 7000}끼")
print(f"영화 (11000원 기준) : {profit // 11000}편")
print(f"노래방 (20000원 기준) : {profit // 20000}시간")

급여 계산기 프로그램입니다.
시급을 입력해주세요 : 10000
일일근무시간 : 8
한달근무일수 : 22
예상 월급은 : 1760000원 입니다.
1760000원으로 무엇을 할 수 있을까요?
PC방 (1200원 기준) : 1466.6666666666667시간
점심 (7000원 기준) : 251끼
영화 (11000원 기준) : 160편
노래방 (20000원 기준) : 88시간

In [ ]:
# 산술 연산자 +
1+2

3

In [ ]:
# 연결 연산자 +
"신동욱" + "강사님"

'신동욱강사님'

In [ ]:
print("신동욱","강사님")

신동욱 강사님

In [ ]:
print("신동욱" + "VIP")

신동욱VIP

In [ ]:
print("신동욱", "VIP")

신동욱 VIP

In [ ]:
print('123'+'123')

123123

In [ ]:
print("="*30)

==============================

In [ ]:
print("="+30)

TypeError: ignored

In [ ]:
print(123*3)

369

In [ ]:
print("123"*"3")

TypeError: ignored

In [ ]:
print("123"*3)

123123123

In [ ]:
# C, JAVA
int a = 1

# Python
a = 1

In [ ]:
age = 40
print(type(age))

<class 'int'>

In [ ]:
print('123' + '123')

123123

In [ ]:
name = input("당신의 이름을 입력해주세요: ")

kor = float(input("국어성적을 입력해주세요: "))
eng = float(input("영어성적을 입력해주세요: "))
mat = float(input("수학성적을 입력해주세요: "))
print(f"국어: {kor}"+"\n"+f"영어: {eng}"+"\n"+f"수학: {mat}")

#평균계산

avg = (kor + eng + mat) / 3
print(f"당신의 평균 성적은 {avg} 입니다.")

당신의 이름을 입력해주세요: 신동욱
국어성적을 입력해주세요: 100
영어성적을 입력해주세요: 90
수학성적을 입력해주세요: 80
국어: 100.0
영어: 90.0
수학: 80.0
당신의 평균 성적은 90.0 입니다.

### **Page 40 조건문이란?**

In [ ]:
if 조건문: # 조건문의 결과 bool (참, 거짓)
  조건이 참일 때 동작하는 실행구문
else:
  조건이 거짓일 때 동작하는 실행구문

SyntaxError: ignored

In [ ]:
print("급여 계산기 프로그램입니다.")

pay = input("시급을 입력해주세요 : ")
time_of_day = input("일일근무시간 : ")
day_of_month = input("한달근무일수 : ")

# 형 변환
pay = int(pay)
time_of_day = int(time_of_day)
day_of_month = int(day_of_month)

# 월급 계산
profit = pay * time_of_day * day_of_month

# 수습 적용
# ---------------------------------------------
pratice = input("""
수습을 적용하나요?
1. 적용
2. 미적용
""")

# 수습 변수 추가
pratice = int(pratice)

if pratice == 1:
  pratice_price = profit // 10
else:
  pratice_price = 0

profit = profit - pratice_price
# ---------------------------------------------


# 결과 출력
print(f"예상 월급은 : {profit}원 입니다.")
print(f"{profit}원으로 무엇을 할 수 있을까요?")
# 나눈 몫만 가져올 때 //
print(f"PC방 (1200원 기준) : {profit / 1200}시간")
print(f"점심 (7000원 기준) : {profit // 7000}끼")
print(f"영화 (11000원 기준) : {profit // 11000}편")
print(f"노래방 (20000원 기준) : {profit // 20000}시간")

In [ ]:
age = int(input("나이를 입력하세요 : "))

if 1 <= age < 20:
  print("담배를 살 수 없습니다.")
else:
  print("담배를 살 수 있습니다.")

In [ ]:
# a = input("숫자 두 개를 띄어쓰기 하셔서 입력하세요.").split()
# print(a)
# print(type(a))
# print(type(a[0]))

# a = map(int, input("숫자 두 개를 띄어쓰기 하셔서 입력하세요.").split())
# int a

a, b = map(int, input('숫자 두 개를 입력하세요: ').split())
print(a)
print(b)
print(a + b)

In [ ]:
names = ["신동욱", "이동욱", "이동건"] # 전체 고객(DB), Pandas

cus_name = input("고객이름을 입력하세요 : ") # 고객의 이름을 입력, 이벤트 당첨 / 미당첨

if cus_name in names:
  print(f"{cus_name}이 있습니다.")
else:
  print(f"{cus_name}이 없습니다.")

### **Page 52 세금 적용 코드**

### **1일차 질문.**
강사님 =*30을 적용할 수는 없나요?

In [ ]:
equal_many = "="*30
# print(equal_many)

print(f""" 
메뉴판
{equal_many}
{'갈비탕':<10}{10000:>10}{"원"}
{'떡볶이':<10}{7000:>10}{"원"}
{'오뎅':<10}{5000:>10}{"원"}
{'감자탕':<10}{8000:>10}{"원"}
{'김치찌게':<10}{8000:>10}{"원"}
{'제육볶음':<10}{7000:>10}{"원"}
{'김치볶음밥':<10}{5000:>10}{"원"}
{equal_many}
""")

메뉴판
==============================
갈비탕            10000원
떡볶이             7000원
오뎅              5000원
감자탕             8000원
김치찌게            8000원
제육볶음            7000원
김치볶음밥           5000원
==============================

In [ ]:
print("급여 계산기 프로그램입니다.")

pay = input("시급을 입력해주세요 : ")
time_of_day = input("일일근무시간 : ")
day_of_month = input("한달근무일수 : ")

# 형 변환
pay = int(pay)
time_of_day = int(time_of_day)
day_of_month = int(day_of_month)

# 월급 계산
profit = pay * time_of_day * day_of_month

# 수습 적용
# ---------------------------------------------
pratice = input("""
수습을 적용하나요?
1. 적용
2. 미적용
""")

# 수습 변수 추가
pratice = int(pratice)

# 수습 적용
if pratice == 1:
  pratice_price = profit // 10
else:
  pratice_price = 0

profit = profit - pratice_price

# 세금 적용
tax = input('''
세금을 적용하나요?
1. 미적용
2. 4대 보험료 공제
3. 소득세 공제
4. 모두 적용
''')

# 세금 변수 추가
tax = int(tax)

# 세금 적용
if tax == 2:
  tax_price = profit * 841 // 10000
elif tax == 3:
  tax_price = profit * 33 // 1000
elif tax == 4:
  tax_price = profit * 841 // 10000 + profit * 33 // 1000
else:
  tax_price = 0

profit = profit - tax_price
# ---------------------------------------------

# 결과 출력
print(f"예상 월급은 : {profit}원 입니다.")
print(f"{profit}원으로 무엇을 할 수 있을까요?")
# 나눈 몫만 가져올 때 //
print(f"PC방 (1200원 기준) : {profit // 1200}시간")
print(f"점심 (7000원 기준) : {profit // 7000}끼")
print(f"영화 (11000원 기준) : {profit // 11000}편")
print(f"노래방 (20000원 기준) : {profit // 20000}시간")

급여 계산기 프로그램입니다.
시급을 입력해주세요 : 10000
일일근무시간 : 8
한달근무일수 : 22

수습을 적용하나요?
1. 적용
2. 미적용
1

세금을 적용하나요?
1. 미적용
2. 4대 보험료 공제
3. 소득세 공제
4. 모두 적용
4
예상 월급은 : 1398514원 입니다.
1398514원으로 무엇을 할 수 있을까요?
PC방 (1200원 기준) : 1165.4283333333333시간
점심 (7000원 기준) : 199끼
영화 (11000원 기준) : 127편
노래방 (20000원 기준) : 69시간

### **코로나 열체크 실전코드**

In [ ]:
"""
작성일자 : 2021-07-26
작성자   : 신동욱
"""
# 한글 깨짐 방지 코드
# -*- coding : utf-8 -*- 

# 변수 정의
# temp : 체온
# 확진자인지 아닌지 판별 : 37.5
# temp = float(input("체온을 측정중입니다 : "))
# print(temp)
# print(type(temp))

# if temp > 37.5:
#   print("코로나 의심 환자입니다.")
# else:
#   print("진료를 받을 수 있는 환자입니다.")

# # msg  : 메시지
# msg = "당신은 코로나 양성으로 판단됩니다."
# if "양성" in msg:
#   print("코로나 의심 환자입니다.")
# else:
#   print("진료를 받을 수 있는 환자입니다.")

msg = "당신은 코로나 양성으로 판단됩니다."
temp = float(input("체온을 측정중입니다 : "))

if "양성" in msg and temp > 37.5:
  print("당신은 확진자입니다.")
else:
  print("당신은 확진자가 아닙니다.")

체온을 측정중입니다 : 36.0
당신은 확진자가 아닙니다.

### **Page 60 주민등록번호 분석기**

In [ ]:
name = "신동욱"
print(name)

신동욱

In [ ]:
name = "신동욱"
# print(name[0])
first_name = name[0]
print(first_name)

신
신

In [ ]:
name = "신동욱"
# print(name[1:3])
second_name = name[1:3]
print(second_name)

동욱

In [ ]:
jumin_num = "800101-1234567"
# print(jumin_num[0:2])
birth_year = jumin_num[0:2]
print("19"+birth_year+" 년생")

1980 년생

In [ ]:
jumin_num = "800101-1234567"
# print(jumin_num[2:4])
birth_month = jumin_num[2:4]
print(birth_month + "월")

01월

In [ ]:
jumin_num = "800101-1234567"
birth_day = jumin_num[4:6]
print(birth_day + "일생")

01일생

In [ ]:
print("19"+birth_year+"년생 "+birth_month + "월 "+birth_day + "일생")

1980년생 01월 01일생

In [ ]:
# % 연산자
# 슬라이싱 => 주민번호 가지고 오셔야 됨, 주민번호 뒷자리 추출
# if구문
# 남, 여를 구분해보세요!
jumin_num = "800101-2234567"
# print(jumin_num[7]) # 1
# print(type(jumin_num[7]))
last_num = int(jumin_num[7])
# print(type(last_num))
# print(last_num % 2)

if last_num % 2 == 0:
  print("여자입니다.")
else:
  print("남자입니다.")

여자입니다.

In [ ]:
jumin_num = "800101-2234567"
local_code = jumin_num[8:10]
print(local_code)

23

In [ ]:
print(type(local_code))
local_code = int(local_code)
print(type(local_code))

<class 'str'>
<class 'int'>

In [ ]:
if 0 <= local_code <= 8:
  # print("서울특별시")
  local = "서울특별시"
elif 9 <= local_code <= 12:
  # print("부산광역시")
  local = "부산광역시"
elif 13 <= local_code <= 15:
  # print("인천광역시")
  local = "인천광역시"
elif 16 <= local_code <= 25:
  # print("경기도")
  local = "경기도"
else:
  # print("제주도")
  local = "제주도"

print("출생지역 : " + local)

출생지역 : 경기도

### **점프 투 파이썬 2장**
[문제] https://wikidocs.net/42526<br>
[정답] https://wikidocs.net/12769#02

###**Q2.**<br>
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [ ]:
#  / : 나누기, // : 몫, % 나머지

# 13 입력
num = int(input("숫자를 입력해주세요 : "))

if num % 2 == 0:
  print("짝수입니다.")
else:
  print("홀수입니다.")

숫자를 입력해주세요 : 13
홀수입니다.

###**Q3.**<br>
홍길동 씨의 주민등록번호는 881120-1068234이다.<br> 
홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과<br>
그 뒤의 숫자 부분으로 나누어 출력해 보자.

※ 문자열 슬라이싱 기법을 사용해 보자.

In [ ]:
# 881120-1068234 입력
jumin_num = input("주민등록번호를 입력하세요 : ")

first_position = jumin_num[:6]
print(first_position)        # 881120 출력

second_position = jumin_num[7:]
print(second_position)       # 1068234 출력

주민등록번호를 입력하세요 : 881120-1068234
881120
1068234

###**Q4.**<br>
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.<br>주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [ ]:
pin = "881120-1068234"

print(pin[7])
print(type(pin[7]))
int_type_convert = int(pin[7])
print(type(int_type_convert))

if int_type_convert % 2 == 0:
  print("여자")
else:
  print("남자")

1
<class 'str'>
<class 'int'>
남자

### **점프 투 파이썬 3장**
[문제] https://wikidocs.net/42527<br>
[정답] https://wikidocs.net/12769#03

###**Q1.**<br>

다음 코드의 결괏값은 무엇일까?

In [ ]:
a = "Life is too short, you need python"

if "wife" in a:
  print("wife")
elif "python" in a and "you" not in a:
  print("python")
elif "shirt" not in a:
  print("shirt")
elif "need" in a:
  print("need")
else:
  print("none")

shirt

###**Q5.**<br>

A 학급에 총 10명의 학생이 있다.<br> 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [ ]:
jumsus = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

jumsu_all = 0

for jumsu in jumsus:
  # print(jumsu)
  jumsu_all += jumsu

print(jumsu_all)
print(len(jumsus))

print(jumsu_all / len(jumsus))

790
10
79.0

### **점프 투 파이썬 4장**
[문제] https://wikidocs.net/42528<br>
[정답] https://wikidocs.net/12769#04

###**Q3.**<br>
다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다.

이 프로그램의 오류를 수정해 보자.

※ int 함수를 사용해 보자.

In [ ]:
# 문제
input1 = input("첫번째 숫자를 입력하세요:") # 3 입력
input2 = input("두번째 숫자를 입력하세요:") # 6 입력

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)     # 36이 출력됨

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 36 입니다

In [ ]:
# 문제
input1 = int(input("첫번째 숫자를 입력하세요:")) # 3 입력
input2 = int(input("두번째 숫자를 입력하세요:")) # 6 입력

total = input1 + input2
# print("두 수의 합은 %s 입니다" % total)     # 36이 출력됨

# print("두 수의 합은 {0} 입니다".format(total))     # 36이 출력됨
# print(f"두 수의 합은 {total} 입니다")

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

###**Q4.**<br>
다음 중 출력 결과가 다른 것 한 개를 고르시오.

In [ ]:
print("you" "need" "python")

youneedpython

In [ ]:
print("you"+"need"+"python")

youneedpython

In [ ]:
print("you", "need", "python")   # 콤마가 있는 경우 공백이 삽입되어 더해진다.

you need python

In [ ]:
print("".join(["you", "need", "python"]))

youneedpython

###**Q5.**<br>
다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

In [ ]:
# [문제]
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())

In [ ]:
# [정답1]
f1 = open("test.txt", 'w')
f1.write("Life is too short!")
# 문제의 예와 같이 파일을 닫지 않은 상태에서 
# 다시 열면 파일에 저장한 데이터를 읽을 수 없다.
# 따라서 열린 파일 객체를 close로 닫아준 후 
# 다시 열어서 파일의 내용을 읽어야 한다.
f1.close() # 열린 파일 객체를 닫는다.

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short!

In [ ]:
# [정답2]
with open("test.txt", 'w') as f1:
    f1.write("Life is too short! ")
with open("test.txt", 'r') as f2:
    print(f2.read())

Life is too short!

###**Q6.**<br>
사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자.<br> (단 프로그램을 다시 실행하더라도 <br>기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [ ]:
# 기존 내용을 유지하고 새로운 내용을 덧붙이기 위해서 
# 다음과 같이 'a' 모드를 사용해야 한다.

user_input = input("저장할 내용을 입력하세요:")

f = open('test.txt', 'a')   # 내용을 추가하기 위해서 'a'를 사용

f.write(user_input)
f.write("\n")               # 입력된 내용을 줄 단위로 구분하기 위해 줄 바꿈 문자 삽입

f.close()

저장할 내용을 입력하세요:신동욱